@charset "UTF-8";
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../fonts/Montserrat-SemiBold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "RoundedMplus1c";
  src: url("../fonts/RoundedMplus1c-ExtraBold.ttf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "RoundedMplus1c";
  src: url("../fonts/RoundedMplus1c-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "RoundedMplus1c";
  src: url("../fonts/RoundedMplus1c-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
/*

@font-face{
	font-family: 'RoundedMplus1c-ExtraBold';
	src: url('../fonts/RoundedMplus1c-ExtraBold.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: 'RoundedMplus1c-Bold';
	src: url('../fonts/RoundedMplus1c-Bold.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face{

	font-family: 'RoundedMplus1c-Regular';
	src: url('../fonts/RoundedMplus1c-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

*/
/* --------------- reset.css --------------- */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-size: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, td img {
  vertical-align: top;
}

input, select, button, textarea {
  margin: 0;
  font-size: 100%;
  outline: none;
}

input[type=checkbox] {
  vertical-align: bottom;
}

input[type=radio] {
  vertical-align: text-bottom;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

ul li {
  list-style: none;
}

.form_control {
  margin: 0;
  width: 100%;
  outline: none;
  height: 44px;
  color: #000;
  background: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  padding: 11px 20px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #d9d9d9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.form_control::-moz-placeholder {
  color: #000;
  opacity: 1;
}
.form_control:-ms-input-placeholder {
  color: #000;
}
.form_control::-webkit-input-placeholder {
  color: #000;
}
.form_control::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
.form_control:focus, .form_control:active {
  outline: none;
  border-color: #da251d;
}
.form_control:focus::-moz-placeholder, .form_control:active::-moz-placeholder {
  color: transparent;
  opacity: 1;
}
.form_control:focus:-ms-input-placeholder, .form_control:active:-ms-input-placeholder {
  color: transparent;
}
.form_control:focus::-webkit-input-placeholder, .form_control:active::-webkit-input-placeholder {
  color: transparent;
}

.form_select {
  margin: 0;
  width: 100%;
  outline: none;
  height: 35px;
  color: #000000;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #e3e3e3;
  padding: 7px 25px 7px 10px;
  background: #fff url("../img/icon__select_down.png") 100% 50% no-repeat;
  -webkit-appearance: none;
  /* for FF */
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: "";
  /* for IE */
  -ms-appearance: none;
  appearance: none !important;
}
.form_select::-moz-placeholder {
  color: #000;
  opacity: 1;
}
.form_select:-ms-input-placeholder {
  color: #000;
}
.form_select::-webkit-input-placeholder {
  color: #000;
}
.form_select::-ms-expand {
  display: none;
}
.form_select::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
.form_select:focus, .form_select:active {
  outline: none;
}
.form_select:focus::-moz-placeholder, .form_select:active::-moz-placeholder {
  color: transparent;
  opacity: 1;
}
.form_select:focus:-ms-input-placeholder, .form_select:active:-ms-input-placeholder {
  color: transparent;
}
.form_select:focus::-webkit-input-placeholder, .form_select:active::-webkit-input-placeholder {
  color: transparent;
}

textarea.form_control {
  height: auto;
  resize: vertical;
}

.form_label {
  color: #adadad;
  display: block;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 2px;
}
.form_label sup {
  color: #da251d;
  vertical-align: middle;
}

.form_group {
  margin-bottom: 15px;
}

.file_form {
  font-size: 0;
  line-height: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.file_form__label {
  cursor: pointer;
  color: #da251d;
  font-weight: 400;
  margin-right: 30px;
  position: relative;
  display: inline-block;
  padding: 2px 0 2px 20px;
}
.file_form__label input {
  display: none;
}
.file_form__label i {
  left: 0;
  top: 2px;
  width: 15px;
  height: 18px;
  position: absolute;
  display: inline-block;
}
.file_form__label .ico-svg {
  fill: #da251d;
}
.file_form__label span {
  font-size: 13px;
  line-height: 18px;
  text-decoration: underline;
}
.file_form__label:hover {
  color: #da251d;
}
.file_form__label:hover span {
  text-decoration: none;
}
.file_form__elem {
  display: none;
  color: #adadad;
  font-size: 13px;
  line-height: 18px;
  position: relative;
  padding: 2px 30px 2px 0;
}
.file_form__elem i {
  top: 0;
  right: 0;
  width: 22px;
  height: 22px;
  cursor: pointer;
  position: absolute;
  display: inline-block;
}
.file_form__elem i:after, .file_form__elem i:before {
  top: 50%;
  left: 50%;
  z-index: 10;
  width: 13px;
  height: 1px;
  content: "";
  margin-left: -6px;
  position: absolute;
  display: inline-block;
  background: #da251d;
}
.file_form__elem i:after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.file_form__elem i:before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.file_form.selected .file_form__elem {
  display: inline-block;
}

.btn_main {
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 40px;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  background: #da251d;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
}
.btn_main:hover {
  color: #fff;
  background: #ff0b00;
}
.btn_main:active {
  background: #da251d;
}
.btn_main:focus, .btn_main.focus {
  outline: 0;
}

.btn_border {
  color: #da251d;
  outline: none;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  padding: 16px 20px;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  background: #ffffff;
  text-transform: uppercase;
  border: 1px solid #d9d9d9;
  font-family: "RoundedMplus1c", Arial, sans-serif;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-box-shadow: 0px 2px 4px 0px lightgray;
  box-shadow: 0px 2px 4px 0px lightgray;
}
.btn_border:hover {
  color: #000;
  background: #ffffff;
  text-decoration: none;
}
.btn_border:active {
  -webkit-box-shadow: 0px 2px 4px 0px rgba(211, 211, 211, 0.3);
  box-shadow: 0px 2px 4px 0px rgba(211, 211, 211, 0.3);
}
.btn_border:focus, .btn_border.focus {
  outline: 0;
}

.btn_prev {
  border: none;
  outline: none;
  color: #6a6a6a;
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  padding: 17px 10px;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  background: #ffffff;
  font-family: "RoundedMplus1c", Arial, sans-serif;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
}
.btn_prev i {
  width: 7px;
  height: 15px;
  margin-right: 5px;
  font-style: normal;
  display: inline-block;
  background: url("../img/icon__angle_left.svg") 50% 100% no-repeat;
}
.btn_prev span {
  text-decoration: underline;
}
.btn_prev:hover {
  color: #6a6a6a;
  text-decoration: none;
}
.btn_prev:hover span {
  text-decoration: none;
}
.btn_prev:focus, .btn_prev.focus {
  outline: 0;
}

.btn_group {
  padding: 0;
  margin: 0 -10px;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.btn_group > li {
  margin: 0 10px;
}

.breadcrumbs {
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  margin: 0 0 20px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.breadcrumbs li {
  color: #000;
  font-size: 12px;
  line-height: 20px;
  display: inline-block;
}
.breadcrumbs li:after {
  content: "—";
  color: #d8d8d8;
  padding: 0 10px;
}
.breadcrumbs li:last-child:after {
  display: none;
}
.breadcrumbs li a {
  color: #da251d;
  text-decoration: underline;
}
.breadcrumbs li a:hover {
  text-decoration: none;
}

.main_pagination {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  line-height: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.main_pagination__center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.main_pagination li {
  width: 44px;
  height: 44px;
  margin-left: -1px;
  display: inline-block;
}
.main_pagination li a {
  color: #000;
  width: 44px;
  height: 44px;
  outline: none;
  font-size: 16px;
  line-height: 16px;
  padding: 13px 5px;
  text-align: center;
  display: inline-block;
  background: #fff;
  border: 1px solid #d8d8d8;
  text-decoration: none;
}
.main_pagination li a:hover {
  color: #000;
  text-decoration: none;
  background-color: #ddd;
}
.main_pagination li span {
  color: #fff;
  width: 44px;
  height: 44px;
  outline: none;
  font-size: 16px;
  line-height: 16px;
  padding: 13px 5px;
  text-align: center;
  display: inline-block;
  background: #da251d;
  border: 1px solid #da251d;
  text-decoration: none;
}
.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.embed-responsive::before {
  display: block;
  content: "";
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive-21by9::before {
  padding-top: 42.8571428571%;
}

.embed-responsive-16by9::before {
  padding-top: 56.25%;
}

.embed-responsive-4by3::before {
  padding-top: 75%;
}

.embed-responsive-1by1::before {
  padding-top: 100%;
}

.img-fluid {
  height: auto;
  display: block;
  max-width: 100%;
}

.ico-svg {
  position: relative;
  display: inline-block;
  width: auto;
  height: 100%;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.hide {
  opacity: 0 !important;
  display: none !important;
  visibility: hidden !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-justify {
  text-align: justify !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.color_red {
  color: #da251d !important;
}

.pt_20 {
  padding-top: 20px !important;
}

.mb_30 {
  margin-bottom: 30px !important;
}

.mb_40 {
  margin-bottom: 40px !important;
}

.mb_60 {
  margin-bottom: 60px !important;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

/*--------------basic---------------*/
body {
  font-family: "Open Sans", Arial, sans-serif;
  width: 100%;
  height: 100%;
}

.wrap {
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100%;
  background-color: #f0f0f0;
  background-repeat: no-repeat;
  background-size: 100%;
}

.wrap-content {
  max-width: 1260px;
  margin: 0 auto;
  background-color: #fff;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

/*--------------basic-end-----------*/
/*--------------nav-----------------*/
.general-nav {
  z-index: 3000;
}

.navbar {
  font-weight: 700;
  padding: 0.75rem 0;
}

.nav-link {
  font-size: 13px;
  text-transform: uppercase;
  color: #000;
}

.nav-link:hover {
  color: #da251d;
}

/*.icon-bar{
	display: block;
    width: 1.5rem;
    height: 2px;
    border-radius: 1px;
    background-color: #e21c2a;
    margin-top: 5px;
}*/
input.search-pr {
  padding: 21px 0px 21px 14px;
  font-weight: 400;
  font-size: 13px;
  background: #f0f0f0;
  border: none;
  border-radius: 0px;
}

input.search-pr:focus {
  background: #f0f0f0;
}

.loupe {
  border: none;
  border-left: none;
  color: #ced4da;
  padding: 9px 12px 3px 7px;
  background-color: #f0f0f0;
  border-radius: 0px;
}

.loupe:focus {
  outline: none;
  box-shadow: none;
}

.form-control {
  border-right: none;
  outline: none;
}

input.form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #ced4da;
}

.input-group {
  max-width: 190px;
  margin-right: 20px;
}

.input-group-append {
  background: #f0f0f0;
}

.func-btn {
  width: 44px;
  height: 44px;
  background: #f0f0f0;
  border-radius: 50%;
  border: none;
}

button.func-btn:hover {
  cursor: pointer;
}

button.func-btn:focus {
  outline: none;
}

button.func-btn:active {
  outline: none;
}

.func-btn-phone {
  width: 44px;
  height: 44px;
  background: #da251d;
  border-radius: 50%;
  border: none;
}

.func-btn-zero {
  position: relative;
}

.func-btn-phone:hover {
  cursor: pointer;
}

.func-btn-phone:focus {
  outline: none;
}

.func-btn-phone:active {
  outline: none;
}

.calc {
  display: block;
  margin: 0px auto;
}

.calc-zero {
  width: 15px;
  height: 15px;
  font-size: 10px;
  color: #fff;
  background: #da251d;
  position: absolute;
  border-radius: 50%;
  right: 0;
  top: 0;
}

.phone-header {
  white-space: nowrap;
  display: block;
  font-size: 17px;
  color: #000;
}

.phone-header:hover {
  text-decoration: none;
  color: #da251d;
}

#button-addon2 {
  background: none;
}

.nav-scroll {
  background: white;
  opacity: 0;
  z-index: -999999999999;
  transition: 0.5s opacity ease;
}

.nav-scroll-active {
  opacity: 1 !important;
  z-index: 1030 !important;
}

.catalog-fix {
  background: #f0f0f0;
  padding: 30px 0;
}

.catalog-fix ul li {
  position: relative;
}

.catalog-btn {
  width: 285px;
  background: #f0f0f0;
  border-radius: 0;
  color: #000;
  border: none;
  transition: 0s;
  outline: none;
  display: flex;
  justify-content: space-between;
  padding: 9px 15px 8px;
}

.catalog-btn span {
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
}

.catalog-btn:hover {
  color: #000;
  background: #dedcdc;
}

.catalog-btn:active {
  border: none !important;
  background: #da251d !important;
  outline: none !important;
  box-shadow: none !important;
  color: #fff !important;
}

.catalog-btn:focus {
  outline: none;
  box-shadow: none;
}

.catalog-btn-act {
  color: #fff !important;
  background: #da251d !important;
}

span.cross {
  display: none;
}

.down-catalog-d-n {
  display: none !important;
}

.cross-d-in-b {
  display: inline-block !important;
}

.catalog-fix-link {
  width: 100%;
  display: inline-block;
  padding: 15px 0;
  color: #000;
  font-size: 15px;
}

.catalog-fix-link:hover {
  color: #da251d;
  text-decoration: none;
}

.link-fix-add {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  display: inline-block;
  padding: 0 5px;
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

.restore-fix {
  background: #a68c77;
}

.industry-fix {
  background: #a52388;
}

.turbo-fix {
  background: #8c4653;
}

.thermo-fix {
  background: #fea729;
}

.protect-fix {
  background: #c02221;
}

.ecobud-fix {
  background: #029946;
}

.ready-fix {
  background: #da251d;
}

.dropdown-toggle::after {
  display: none;
}

.nav__showmenu {
  position: relative;
  z-index: 3;
  display: inline-block;
  margin-left: 5px;
  padding: 0px 10px 6px;
  top: 2px;
  border: none;
  font-size: 26px;
  color: #000;
  background: none;
  font-weight: 400;
  cursor: pointer;
}

.nav__showmenu:focus {
  outline: none;
}

.burger-drop {
  border-radius: 0;
}

.burger-drop a.dropdown-item {
  font-weight: 400;
  font-size: 14px;
}

.burger-drop a.dropdown-item:hover {
  background: #f0f0f0;
}

.phone-hide {
  position: absolute;
  background: #fff;
  border: 1px solid #eee;
  display: none;
}

.phone-hide a:first-child {
  padding: 15px 20px 10px;
}

.phone-hide a:last-child {
  padding: 0px 20px 15px;
}

.form-inline {
  position: relative;
}

.mobile-main-btn {
  display: none;
}

.dropdown-menu:after, .dropdown-menu:before {
  content: "";
  border: solid transparent;
  position: absolute;
  left: 20%;
  margin-left: -9px;
  top: -19px;
  width: 0;
}

.dropdown-menu:before {
  border-bottom-color: rgba(0, 0, 0, 0.15);
  border-width: 9px;
}

.dropdown-menu:after {
  border-bottom-color: #fff;
  border-width: 11px;
  margin-left: -11px;
}

.phone-hide:after, .phone-hide:before {
  content: "";
  border: solid transparent;
  position: absolute;
  left: 80%;
  margin-left: -9px;
  top: -19px;
  width: 0;
}

.phone-hide:before {
  border-bottom-color: #eee;
  border-width: 9px;
}

.phone-hide:after {
  border-bottom-color: #fff;
  border-width: 11px;
  margin-left: -11px;
}

/*--------------nav-end-------------*/
/*---------------main---------------*/
.main-nav-mobile {
  display: none;
}

.main-nav {
  font-weight: 700;
  text-transform: uppercase;
}

.main-nav .nav li {
  padding-right: 0px;
  padding-left: 0px;
  background: #da251d;
  border-right: 1px solid #f0514a;
}

.main-nav .nav li:hover {
  background: #ba1711;
}

.main-nav .nav li:last-child {
  border-right: none;
}

.main-nav .nav-link {
  padding-top: 17px;
  padding-bottom: 17px;
  color: #fff;
  font-size: 15px;
}

.main-nav .nav li.catalog-item {
  text-align: left;
  background: #ba1711;
}

.catalog-item span {
  float: right;
}

.doc-drop {
  position: relative;
}

.doc {
  border: 1px solid #eee;
  position: absolute;
  z-index: 9999999;
  width: 100%;
}

.doc ul li.doc-item {
  background: #fff;
  width: 100%;
  padding: 0.76rem 0.4rem 0.76rem 1rem;
}

.doc ul li.doc-item:hover {
  background: #f0f0f0;
}

.doc ul li.doc-item a.doc-link {
  color: #000;
  width: 100%;
}

.doc ul li.doc-item a.doc-link:hover {
  background: #fff;
  color: #000;
}

/*-------------main-end-------------*/
/*---------------sidebar---------------*/
.sidebar .nav-link {
  text-transform: none;
  font-size: 15px;
  padding: 0.9rem 0.4rem 0.9rem 1.4rem;
  box-sizing: border-box;
}

.sidebar .nav-border .nav-link:hover {
  padding-left: 1.28rem;
}

.catalog-item a.nav-link {
  padding-left: 1.4rem;
}

.sidebar .nav-item {
  border: 1px solid #d9d9d9;
  border-top: none;
  box-sizing: border-box;
  position: relative;
}

.sidebar .nav-border:hover {
  cursor: pointer;
  background: #f0f0f0;
  border-left: 3px solid #da251d;
}

.main .row {
  margin-left: 0px;
  margin-right: 0px;
}

.main .sidebar {
  padding-right: 0;
  padding-left: 0;
}

.rubric {
  margin-top: 20px;
  border: 1px solid #d9d9d9;
}

.rubric .h4 {
  font-size: 20px;
  font-weight: 700;
}

.rubric-main {
  padding: 1.5rem 1rem;
}

.rubric-head {
  display: flex;
}

.rubric-head .h4 {
  margin-bottom: 0;
}

.rubric-head a {
  font-size: 15px;
  color: #6a6a6a;
  text-decoration: underline;
}

.rubric-head a:hover {
  color: #da251d;
  text-decoration: none;
}

.rubric-content {
  display: flex;
  margin-top: 20px;
  font-size: 15px;
}

.rubric-content a {
  color: #000;
}

.rubric-content a {
  color: #000;
}

.rubric-logo {
  margin-right: 15px;
}

.rubric-after {
  border: 1px solid #d9d9d9;
  border-top: none;
}

.rubric-after .h4 {
  font-size: 20px;
  font-weight: 700;
}

.menu-addit {
  width: 87px;
  position: absolute;
  left: -3px;
  top: -7px;
  z-index: 1029;
  letter-spacing: 1px;
}

.menu-addit-text {
  font-size: 9px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.ready-coat .menu-addit-text {
  background: #da251d;
}

.ready-coat {
  border-left: 3px solid #da251d !important;
}

.ecobud .menu-addit-text {
  background: #029946;
}

.ecobud {
  border-left: 3px solid #029946 !important;
}

.protect {
  border-left: 3px solid #c02221 !important;
}

.protect .menu-addit-text {
  background: #c02221;
}

.thermo .menu-addit-text {
  background: #fea729;
}

.thermo {
  border-left: 3px solid #fea729 !important;
}

.turbo {
  border-left: 3px solid #8c4653 !important;
}

.turbo .menu-addit-text {
  background: #8c4653;
}

.industry .menu-addit-text {
  background: #a52388;
}

.industry {
  border-left: 3px solid #a52388 !important;
}

.restore {
  border-left: 3px solid #a68c77 !important;
}

.restore .menu-addit-text {
  background: #a68c77;
}

/*-------------sidebar-end--------------*/
.main-content {
  padding-right: 0;
  margin-top: 20px;
  padding-left: 20px;
}

/*-------------main-slider-----------------*/
.slick-next {
  right: 22px;
  background: #da251d;
}

.slick-prev {
  left: 22px;
  z-index: 9999;
}

.prev {
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background: #fff;
  display: block;
  color: #da251d;
  position: absolute;
  top: 50%;
  left: 22px;
  transform: translateY(-50%);
  z-index: 999;
  -webkit-box-shadow: 0px 4px 2px 0px rgba(50, 50, 51, 0.23);
  -moz-box-shadow: 0px 4px 2px 0px rgba(50, 50, 51, 0.23);
  box-shadow: 0px 4px 2px 0px rgba(50, 50, 51, 0.23);
}

.prev i {
  font-size: 30px;
  position: absolute;
  top: 18%;
  left: 29%;
}

.prev:focus {
  outline: none;
}

.prev:hover {
  cursor: pointer;
  background: #da251d;
  color: #fff;
}

.next {
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background: #fff;
  display: block;
  color: #da251d;
  position: absolute;
  right: 22px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
  -webkit-box-shadow: 0px 4px 2px 0px rgba(50, 50, 51, 0.23);
  -moz-box-shadow: 0px 4px 2px 0px rgba(50, 50, 51, 0.23);
  box-shadow: 0px 4px 2px 0px rgba(50, 50, 51, 0.23);
}

.next i {
  font-size: 30px;
  position: absolute;
  top: 18%;
  right: 29%;
}

.next:focus {
  outline: none;
}

.next:hover {
  cursor: pointer;
  background: #da251d;
  color: #fff;
}

.main-slider {
  position: relative;
}

.slider-content {
  width: 76%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.slider-page {
  width: 100%;
  display: flex;
  align-items: center;
  background-size: auto;
  background-position: center;
  position: relative;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 40px;
}

h1 span {
  font-size: 24px;
}

a.more {
  display: inline-block;
  margin-top: 20px;
  color: #da251d;
  padding: 19px 40px;
  border: 1px solid #d9d9d9;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  -webkit-box-shadow: 1px 2px 4px 0px rgba(50, 50, 51, 0.23);
  -moz-box-shadow: 1px 2px 4px 0px rgba(50, 50, 51, 0.23);
  box-shadow: 1px 2px 4px 0px rgba(50, 50, 51, 0.23);
  background: #fff;
}

a.more:hover {
  text-decoration: none;
  outline: none;
  background: #efefef;
}

/*-------------main-slider-end--------------*/
/*---------------advantages-----------------*/
.advantages {
  margin-top: 25px;
  margin-bottom: 25px;
}

.advantages .row > div {
  padding-left: 0;
}

.adv-square {
  width: 60px;
  height: 60px;
  background: #da251d;
  border-radius: 5px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  text-align: center;
}

.adv-square p {
  font-size: 26px;
  line-height: 0.5;
  letter-spacing: 1px;
  padding-left: 4px;
  font-weight: 400;
}

.adv-square span {
  font-size: 10px;
  letter-spacing: 1px;
}

.adv-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
}

.adv-text {
  flex: 1 2;
}

/*---------------advantages-end-------------*/
/*--------------------works-----------------*/
.works .row > div {
  padding: 1px;
}

.works-type {
  position: relative;
  height: 200px;
  overflow: hidden;
}

.works-type-shadow {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.works-type-shadow:hover {
  opacity: 100;
}

.works-photo {
  position: absolute;
  left: 0;
  vertical-align: middle;
  max-height: 200px;
  transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  width: 100%;
  height: 100%;
}

.works-type-name {
  position: absolute;
  left: 25px;
  bottom: 25px;
  right: 25px;
  z-index: 2;
  font-size: 16px;
  font-weight: 700;
}

.works-type-name a {
  color: #fff;
}

.works-type-name a:hover {
  color: #fff;
  text-decoration: none;
}

.works-type:hover a img.works-photo {
  transform: scale(1.2);
}

/*----------------works-end----------------*/
/*------------------for-whom----------------*/
.for-whom .row > div:first-child {
  padding-right: 6px;
  padding-left: 0;
}

.for-whom .row > div:last-child {
  padding-left: 6px;
  padding-right: 0;
}

.for-whom .row > div {
  padding-left: 3px;
  padding-right: 3px;
}

.for-whom-item {
  overflow: hidden;
  width: 100%;
  position: relative;
  filter: grayscale(40%);
}

.for-whom-logo {
  width: 100%;
  z-index: 2;
  display: block;
}

.for-whom-gradient {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  box-shadow: 0px -80px 80px -10px rgba(0, 0, 0, 0.7) inset;
}

.for-whom-content {
  height: 100%;
  padding: 30px 10px 0px 30px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 70%;
  color: #fff;
  z-index: 3;
  transition: 0.5s ease;
}

.for-whom-content .h4 {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 700;
}

.for-whom-content a {
  display: block;
  color: #fff;
  padding-top: 10px;
  font-size: 15px;
  font-weight: 400;
}

.for-whom-item:hover .for-whom-content {
  background: rgba(0, 0, 0, 0.5);
  top: 0;
}

.for-whom-item:hover .for-whom-content .h4 {
  margin-bottom: 15px;
}

/*----------------for-whom-end--------------*/
/*--------------------news------------------*/
.news {
  margin-top: 15px;
  margin-bottom: 15px;
}

.section-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news .h3 span a {
  color: #da251d;
}

.slider-wrapper {
  overflow: hidden;
}

.news-slider {
  margin-left: -5px;
  margin-right: -4px;
}

.news-item {
  width: 96%;
  margin: 0 auto;
  border: 1px solid #f3f3f3;
  display: block;
  cursor: pointer;
  color: #000;
  font-weight: 700;
}

.news-item img {
  width: 100%;
}

.news-item-text {
  padding: 30px 25px;
  text-align: left;
}

.news-item:hover {
  color: #000;
}

.news-topic a {
  font-weight: 700;
  font-size: 16px;
  color: #000;
}

.date-news {
  font-size: 10px;
  margin-top: 10px;
  color: #888;
}

.section-control {
  font-size: 0;
  margin-bottom: -10px;
}

.section-control-mobile {
  display: none;
}

.section-control button.sect-contr-prev, button.sect-contr-next {
  font-size: 15px;
  font-weight: 400;
  padding: 5px 13px;
  background: #fff;
  color: #777777;
  border: 1px solid #dadada;
}

.section-control button.sect-contr-prev:hover, button.sect-contr-next:hover {
  background: #f0f0f0;
  color: #da251d;
}

.section-control button.sect-contr-prev {
  border: 1px solid #dadada;
  border-right: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px 0 0 5px;
}

.section-control button.sect-contr-next {
  outline: none;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}

/*--------------------news-end--------------*/
/*-----------------subscribe-----------------*/
.subscribe {
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  background-size: cover;
}

.subscribe .row {
  width: 100%;
}

.subscribe-text .h5 {
  font-size: 24px;
  font-weight: 700;
}

.subscribe-text p {
  font-size: 14px;
  margin-top: 10px;
}

.subscribe-form {
  font-size: 0px;
  text-align: right;
}

.subscribe-form .subscribe-form-input {
  font-size: 14px;
  width: 60%;
  padding: 15px 20px;
  border: none;
}

.subscribe-form .subscribe-form-input::placeholder {
  color: #b0b0b0;
}

.subscribe-form-btn {
  font-size: 14px;
  border: none;
  outline: none;
  width: 40%;
  text-align: center;
  padding: 12px 0 14px 0;
  background-color: #da251d;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.3s ease;
}

.subscribe-form-btn:hover {
  background: #ba1711;
}

.subscribe-form-btn:focus {
  outline: none;
}

/*----------------subscribe-end--------------*/
/*-------------------video-------------------*/
.videos {
  margin-top: 15px;
  margin-bottom: 15px;
}

.videos .h3 span a {
  color: #da251d;
}

.video-slider {
  margin-left: -5px;
  margin-right: -5px;
}

.video-item {
  width: 96%;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  height: 205px;
}

.logo-video {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.video-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  outline: none;
}

.video-link:hover {
  background: rgba(0, 0, 0, 0.2);
}

.video-link:focus {
  outline: none;
}

.video-link:hover .video-link-name {
  color: #fff;
  text-decoration: underline;
}

.video-link-btn {
  margin-top: -15px;
}

.video-link-name {
  position: absolute;
  bottom: 25px;
  left: 25px;
  right: 25px;
  text-align: left;
}

/*--------------------video-end---------------*/
/*-------------------new-ones-----------------*/
.new-ones {
  margin-top: 15px;
  margin-bottom: 15px;
}

.new-ones .h3 span a {
  color: #da251d;
}

.new-ones-item {
  width: 96%;
  height: 445px;
  box-sizing: border-box;
  margin: 0 auto;
  border: 1px solid #f3f3f3;
  position: relative;
  overflow: hidden;
  text-align: left;
}

.new-ones-logo {
  margin: 0 auto;
  margin-top: 20px;
}

.new-ones-item:hover .new-ones-content {
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
}

.new-ones-item:hover .new-ones-descr {
  color: #fff;
}

.new-ones-content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 300px;
  left: 0;
  color: #000;
  padding: 20px 20px 0 20px;
  font-size: 14px;
  transition: 0.5s ease;
}

.new-ones-content ul li {
  list-style: square;
}

.new-ones-content ul {
  margin-top: 20px;
  padding-left: 17px;
}

.new-ones-content-btn {
  position: absolute;
  left: 0;
  bottom: 0;
  border-top: 2px solid #fff;
  width: 100%;
  font-size: 0;
}

.new-ones-content-btn img {
  display: inline;
}

/*
.compare{
	color: #fff;
	width: 50%;
	box-sizing: border-box;
	display: inline-block;
	text-align: center;
	padding: 15px 0;
	border-right: 1px solid #fff;
	font-size: 14px;
	font-weight: 700;
}
.compare span{
	position: relative;
	top: 1px;
	margin-right: 6px;
}

.compare:hover,.ones-more:hover{
	color: #fff;
	text-decoration: none;
	background:rgba(0,0,0,0.2);
}

*/
.ones-more {
  text-align: center;
  width: 50%;
  color: #fff;
  padding: 15px 0;
  box-sizing: border-box;
  display: inline-block;
  border-left: 1px solid #fff;
  font-size: 14px;
  font-weight: 700;
}

.ones-more span {
  position: relative;
  top: 3px;
  margin-right: 6px;
}

.new-ones-name {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.new-ones-name span {
  font-size: 16px;
  text-transform: uppercase;
}

.new-ones-descr {
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #909090;
  transition: 0.6s ease;
}

/*-------------------new-ones-end-------------*/
/*-------------------feedback-----------------*/
.feedback {
  margin-top: 60px;
  width: 100%;
  height: 390px;
  position: relative;
}

.feedback-content {
  padding-top: 90px;
}

.feedback .h2 {
  font-size: 48px;
  line-height: 52px;
  font-family: "RoundedMplus1c", Arial, sans-serif;
  font-weight: 900;
}

.feedback .h4 {
  font-family: "RoundedMplus1c", Arial, sans-serif;
  font-size: 30px;
  font-weight: 900;
  padding-top: 15px;
}

.feedback p {
  font-family: "RoundedMplus1c", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 32px;
}

.man {
  position: absolute;
  bottom: 0;
  left: 390px;
}

.feedback .btn:first-child {
  padding-left: 0 !important;
}

.feedback .btn:last-child {
  padding-left: 0 !important;
}

.btn a {
  display: block;
  font-family: "RoundedMplus1c", Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.btn a.study {
  padding: 20px 0;
  background-color: #fff;
  color: #e21d23;
  transition: 0.3s ease;
  box-shadow: 1px 2px 4px 0px rgba(50, 50, 51, 0.23);
}

.btn a.study:hover {
  background: #efefef;
  text-decoration: none;
}

.btn a.question {
  padding: 20px 0;
  background-color: #e21d23;
  color: #fff;
  transition: 0.3s ease;
  box-shadow: 1px 2px 4px 0px rgba(50, 50, 51, 0.23);
}

.btn a.question:hover {
  background: #ba1711;
  text-decoration: none;
}

.btn-entry {
  text-align: right;
}

/*-------------------feedback-end-------------*/
/*---------------------footer-----------------*/
.footer-nav li.nav-item {
  border: 1px solid #f1f1f1;
  border-right: none;
}

.footer-nav li.nav-item a.nav-link {
  padding: 20px 0;
  font-size: 15px;
  font-weight: 700;
  font-family: "RoundedMplus1c", Arial, sans-serif;
}

footer .navbar {
  padding: 30px 0;
}

.social {
  display: flex;
  flex-direction: row;
}

.social-link {
  width: 44px;
  height: 44px;
  background: #fff;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  text-align: center;
  color: #e21d23;
  cursor: pointer;
  box-shadow: 0px 1px 6px 0px rgba(50, 50, 51, 0.5);
}

.social-link span.calc {
  color: #e21d23;
}

.social-link:hover {
  background: #e21d23;
}

.social-link:hover span.calc {
  color: #fff;
}

.footer-rights {
  border-top: 1px solid #f1f1f1;
  padding: 25px 0;
  font-size: 13px;
}

.click {
  text-align: right;
}

.click a {
  color: #000;
  text-decoration: underline;
}

/*------------header hamburger X--------------------*/
.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0px 0px 0px 0px;
  padding: 0;
  width: 44px;
  height: 44px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  border-radius: 50%;
  background: #f0f0f0 !important;
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: 21px;
  left: 11px;
  right: 11px;
  height: 4px;
  background: #565656;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #565656;
  content: "";
}

.c-hamburger span::before {
  top: -7px;
}

.c-hamburger span::after {
  bottom: -7px;
}

.c-hamburger--htx {
  background-color: rgba(56, 56, 56, 0);
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
  transition-property: top, transform;
}

.c-hamburger--htx span::after {
  transition-property: bottom, transform;
}

/* состояние active при открытом меню  */
.c-hamburger--htx.is-active {
  background-color: none;
}

.c-hamburger--htx.is-active span {
  background: none;
}

.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s;
}

/*------------header hamburger X-end --------------------*/
/*-------------------footer--nav--------------*/
/*--------------------media-------------------*/
@media screen and (max-width: 1440px) {
  .scroll-up-btn {
    right: 11%;
  }
}
@media screen and (max-width: 1199px) {
  .phone-hide {
    display: block;
    right: 0px;
    top: 60px;
    z-index: 999099999999999;
  }

  .phone-main {
    display: none;
  }

  .input-group {
    margin-right: 0px;
    max-width: 160px;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 7px;
    padding-left: 0.5rem;
  }

  .for-whom-content {
    top: 61%;
  }

  .for-whom-item {
    height: 243px;
  }

  input.search-pr {
    padding: 21px 0 21px 7px;
  }
}
@media screen and (max-width: 991px) {
  .mobile-main-btn {
    display: block;
  }

  .navbar-expand-lg > .container, .navbar-expand-lg > .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }

  .nav-btn-group {
    display: none;
  }

  .nav-scroll {
    display: none;
  }

  .main-nav .nav-item {
    flex: 1 1 100%;
    text-align: left;
    border-top: 1px solid #f0514a;
  }

  .main-nav .sidebar {
    width: 100%;
  }

  .main-nav .sidebar .nav-item {
    width: 100%;
    background: #fff;
    border-right: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
    border-top: none;
  }

  .main-nav .sidebar .nav-item .nav-link {
    background: #fff;
    color: #000;
    font-weight: 400;
    font-size: 15px;
    border-radius: 0;
  }

  .main-nav .sidebar .nav-item .nav-link:hover {
    padding-left: 1.4rem;
  }

  .main .sidebar {
    display: none;
  }

  .main-nav {
    display: none;
  }

  .main-nav-mobile {
    display: block !important;
  }

  .input-group {
    max-width: 100%;
  }

  .navbar-nav .nav-item .nav-link {
    border: 1px solid #f0f0f0;
    border-bottom: none;
    padding-top: 17px;
    padding-bottom: 17px;
    font-size: 15px;
  }

  .input-group {
    border: 1px solid #f0f0f0;
    border-bottom: none;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .main-nav .nav li.catalog-item {
    text-align: left;
    background: #da251d;
  }

  .main-nav .nav li.catalog-item:active {
    background: #ba1711;
  }

  .main-nav .nav li.catalog-item:focus {
    background: #ba1711;
  }

  .main-content {
    padding-left: 0px;
    margin-top: 0;
  }

  .next {
    right: 15px;
  }

  .prev {
    left: 15px;
  }

  .advantages {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .advantages .row > div {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 15px;
    padding-left: 15px;
  }

  div#navbarSupportedContent {
    margin-bottom: 20px;
  }

  input.form-control.search-pr {
    margin-left: 10px;
  }

  .input-group-append {
    margin-right: 15px;
  }

  input.search-pr {
    padding: 23px 0px 23px 20px;
  }

  .scroll-up-btn {
    right: 6%;
  }

  .man {
    left: 260px;
  }
}
@media screen and (max-width: 767px) {
  .for-whom .row > div {
    padding: 1px 0 !important;
  }

  .for-whom-content {
    top: 68%;
  }

  .for-whom-item {
    height: 292px;
    width: 100%;
    margin: 0 auto;
  }

  .slider-wrapper {
    overflow: visible;
  }

  .news-item {
    width: 98%;
  }

  .video-item {
    width: 98%;
  }

  .new-ones-item {
    width: 98%;
  }

  .section-control {
    display: none;
  }

  .section-control-mobile {
    display: inline-block;
    margin-bottom: 0;
    margin-top: 20px;
  }

  .h3 {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .h3 span {
    display: inline-block;
    margin-left: auto;
    align-self: center;
    justify-self: end;
  }

  .subscribe-form {
    margin-top: 25px;
  }

  .subscribe-form {
    width: 100%;
    margin-bottom: 15px;
  }

  .footer-nav {
    display: none;
  }

  footer .navbar .navbar-brand {
    padding-right: 0px;
  }

  .phone-footer {
    padding-right: 15px;
  }

  .footer-wrap {
    padding: 0 15px;
  }
}
@media screen and (max-width: 575px) {
  .navbar {
    padding-left: 0px;
    padding-right: 0px;
  }

  h1 {
    margin-top: 30px;
    font-size: 38px;
  }

  a.more {
    padding: 14px 30px;
    margin-bottom: 30px;
    background: #fff;
  }

  .slider-content {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }

  .main .container {
    padding-left: 0;
    padding-right: 0;
  }

  .advantages {
    padding: 0 15px;
  }

  .works-type {
    height: 165px;
  }

  .works-type-name {
    bottom: 10px;
  }

  .subscribe-form {
    margin-top: 25px;
  }

  .subscribe-form .subscribe-form-input {
    width: 100%;
    margin-bottom: 15px;
  }

  .subscribe-form-btn {
    width: auto;
    padding: 14px 20px 14px 20px;
  }

  .feedback .h2 {
    font-size: 35px;
  }

  .feedback .h4 {
    font-size: 24px;
    padding-top: 15px;
  }

  .question-mobile {
    max-width: 100%;
    flex: 0 0 100%;
  }

  .feedback {
    height: 450px;
  }

  .feedback .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }

  .feedback-content {
    padding-top: 30px;
  }

  .btn-entry {
    text-align: left;
  }

  .ques-bt {
    padding: 0;
    margin-top: 10px;
    width: 60%;
  }

  .man {
    position: absolute;
    bottom: 0;
    left: 127px;
  }

  .h3 {
    padding: 0 15px;
  }

  .news-item {
    width: auto;
    margin: 0 20px;
  }

  .video-item {
    width: auto;
    margin: 0 20px;
  }

  .new-ones-item {
    width: auto;
    margin: 0 20px;
  }
}
@media screen and (max-width: 500px) {
  .navbar-brand {
    width: 102px;
  }

  .navbar-brand img {
    max-width: 100%;
  }

  .man {
    bottom: -48px;
  }

  .feedback {
    overflow: hidden;
  }
}
@media screen and (max-width: 360px) {
  .ques-bt {
    width: 80%;
  }

  .for-whom-item {
    width: auto;
  }

  .func-btn-phone {
    display: none;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
h1,
.h1 {
  padding: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin: 0 0 20px 0;
}

h2,
.h2 {
  padding: 0;
  max-width: 700px;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin: 0 0 20px 0;
}

h3,
.h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  padding-top: 10px;
  margin-bottom: 20px;
}

.section-head h3,
.section-head .h3 {
  padding-top: 0;
  font-size: 24px;
  line-height: 30px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.section-head h3 span,
.section-head .h3 span {
  margin-left: 30px;
  font-size: 15px;
  font-weight: 400;
}

h4,
.h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  padding-top: 10px;
  margin-bottom: 20px;
}

h5,
.h5 {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 5px;
}

.main .container {
  padding-left: 15px;
  padding-right: 15px;
}

.pag {
  margin: 35px 0;
}

.pagination-lg .page-link {
  padding: 0.75rem 1.25rem;
  font-size: 1.25rem;
  line-height: 1;
}

.pagination-lg .page-item:first-child .page-link {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.page-item:first-child .page-link {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.pagination-lg .page-item:last-child .page-link {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #da251d;
  border-color: #da251d;
}

.page-link {
  color: #000;
  font-size: 15px;
}

.page-link:active {
  color: #000;
}

.page-link:focus {
  color: #000;
}

.page-link:hover {
  color: #000;
}

.info_block {
  margin-bottom: 50px;
}
.info_block p {
  font-size: 15px;
  margin-bottom: 20px;
}
.info_block p:last-child {
  margin-bottom: 10px;
}
.info_block__logo {
  border: 1px solid #dbdbdb;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.info_block__logo_image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .info_block__logo {
    padding: 40px 0;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 15px 20px 15px;
  }
  .info_block__logo img {
    max-width: 80%;
  }
}

.btn_up {
  right: 40px;
  bottom: 50px;
  color: #fff;
  width: 44px;
  height: 44px;
  padding: 2px 0 5px 0;
  position: fixed;
  font-size: 34px;
  line-height: 34px;
  text-align: center;
  background: #e21d23;
  text-decoration: none;
  opacity: 0;
  visibility: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn_up:hover {
  color: #fff;
  text-decoration: none;
}
@media (min-width: 768px) {
  .btn_up__visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
}

.table {
  font-size: 14px;
  line-height: 20px;
}
.table th,
.table td {
  padding: 7px 20px;
  border-top: none;
}

.content {
  font-size: 15px;
  line-height: 24px;
}
.content p {
  margin: 0 0 20px 0;
}

.list_point {
  padding: 0;
  list-style: none;
  margin: 0 0 20px 0;
}
.list_point li {
  padding-left: 16px;
  position: relative;
}
.list_point li:before {
  left: 0;
  top: 10px;
  width: 5px;
  height: 5px;
  content: "";
  position: absolute;
  display: inline-block;
  background: #da251d;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.file_list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.file_list li {
  margin-bottom: 20px;
}

.file_link {
  font-size: 15px;
  line-height: 24px;
  color: #da251d;
  display: inline-block;
  text-decoration: none;
  padding: 2px 0 2px 30px;
  background: url("../img/icon__file.svg") 0 0 no-repeat;
}
.file_link span {
  text-decoration: underline;
}
.file_link:hover {
  color: #da251d;
  text-decoration: none;
}
.file_link:hover span {
  text-decoration: none;
}

.gallery {
  width: 100%;
  margin: 0 auto;
  max-width: 300px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.gallery__item {
  width: 100%;
  color: #000;
  display: block;
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 20px;
}
.gallery__item span {
  display: block;
  font-weight: 700;
}
.gallery__image {
  display: block;
  margin-bottom: 10px;
}
.gallery__read {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: #da251d;
  margin-top: 10px;
  display: inline-block;
  text-decoration: underline;
}
.gallery__read:hover {
  color: #da251d;
  text-decoration: none;
}
@media (min-width: 576px) {
  .gallery {
    max-width: inherit;
  }
  .gallery__item {
    width: calc(50% - 10px);
  }
}
@media (min-width: 768px) {
  .gallery__item {
    width: calc(33.33% - 10px);
  }
}

.img_left {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .img_left {
    width: 260px;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
  }
}
@media (min-width: 992px) {
  .img_left {
    width: 300px;
    margin-bottom: 10px;
  }
}

.modal {
  padding: 50px 20px 50px 20px;
  max-width: 400px;
  background: #fff;
}
.modal__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .modal {
    padding: 50px 60px 60px 60px;
    max-width: inherit;
    width: 520px;
  }
}

.reward {
  max-width: 320px;
  margin: 0 auto 20px auto;
}
.reward__image {
  display: block;
}
.reward__text {
  color: #000;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 25px 30px;
  border: 1px solid #f2f2f2;
}
@media (min-width: 768px) {
  .reward {
    margin: 0 0 20px 0;
    max-width: inherit;
    width: calc(50% - 10px);
  }
  .reward__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
}
@media (min-width: 992px) {
  .reward {
    width: calc(33.33% - 10px);
  }
}

.options {
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  margin: 0 -5px 20px -5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.options > li {
  width: 100%;
  padding: 0 5px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .options > li {
    width: 33.33%;
  }
  .options > li:nth-child(1) {
    width: 66.66%;
  }
}
@media (min-width: 1200px) {
  .options {
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
  }
  .options > li {
    width: auto;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -moz-box-flex: 1;
    -moz-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }
  .options > li .select_single {
    width: 250px;
  }
}

.select_single {
  width: 100%;
  z-index: 20;
  font-size: 0;
  line-height: 0;
  position: relative;
  display: inline-block;
}
.select_single__label {
  width: 100%;
  cursor: pointer;
  max-width: 100%;
  position: relative;
  display: inline-block;
  border: 1px solid #c4c4c4;
  padding: 10px 30px 10px 10px;
}
.select_single__label span {
  color: #000;
  font-size: 13px;
  line-height: 19px;
  overflow: hidden;
  max-width: 100%;
  white-space: nowrap;
  display: inline-block;
}
.select_single__label i {
  top: 50%;
  color: #000;
  right: 10px;
  font-size: 14px;
  line-height: 14px;
  position: absolute;
  margin-top: -7px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.select_single__label:hover {
  border-color: #da251d;
}
.select_single__item {
  width: 100%;
  font-weight: 400;
  display: inline-block;
}
.select_single__item input {
  display: none;
}
.select_single__item span {
  width: 100%;
  max-width: 100%;
  font-size: 13px;
  cursor: pointer;
  overflow: hidden;
  line-height: 14px;
  padding: 12px 10px;
  display: inline-block;
}
.select_single__item span:hover {
  color: #fff;
  background: #da251d;
}
.select_single__dropdown {
  top: 100%;
  left: 0;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  min-width: 100%;
  margin-top: 10px;
  position: absolute;
  border: 1px solid #c4c4c4;
}
.select_single__dropdown:before {
  top: -7px;
  left: 16px;
  width: 13px;
  height: 7px;
  content: "";
  position: absolute;
  display: inline-block;
  background: url("../img/icon__select.png") 0 0 no-repeat;
}
.select_single.active {
  z-index: 50;
}
.select_single.active .select_single__label {
  border-color: #da251d;
}
.select_single.active .select_single__label i {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.select_single.active .select_single__dropdown {
  opacity: 1;
  visibility: visible;
}

.select_multiple {
  width: 100%;
  z-index: 20;
  font-size: 0;
  line-height: 0;
  position: relative;
  display: inline-block;
}
.select_multiple__label {
  width: 100%;
  cursor: pointer;
  max-width: 100%;
  position: relative;
  border: 1px solid #c4c4c4;
  padding: 10px 30px 10px 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.select_multiple__label_text {
  color: #000;
  font-size: 13px;
  line-height: 19px;
  overflow: hidden;
  white-space: nowrap;
  max-width: calc(100% - 20px);
  display: inline-block;
}
.select_multiple__label_value {
  color: #000;
  font-size: 13px;
  line-height: 19px;
  display: inline-block;
}
.select_multiple__label_value:before {
  content: "(";
  margin-left: 5px;
}
.select_multiple__label_value:after {
  content: ")";
}
.select_multiple__label i {
  top: 50%;
  color: #000;
  right: 10px;
  font-size: 14px;
  line-height: 14px;
  position: absolute;
  margin-top: -7px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.select_multiple__label:hover {
  border-color: #da251d;
}
.select_multiple__item {
  width: 100%;
  font-weight: 400;
  padding: 9px 10px;
  display: inline-block;
}
.select_multiple__item input {
  display: none;
}
.select_multiple__item span {
  width: 100%;
  max-width: 100%;
  font-size: 13px;
  cursor: pointer;
  overflow: hidden;
  line-height: 14px;
  position: relative;
  padding: 3px 0 3px 30px;
  display: inline-block;
}
.select_multiple__item span:before {
  top: 0;
  left: 0;
  z-index: 5;
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  border: 1px solid #d3d3d3;
}
.select_multiple__item span:after {
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 10;
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  visibility: hidden;
  position: absolute;
  background: url("../img/icon__checkbox.png") 50% 50% no-repeat;
}
.select_multiple__item span:hover {
  color: #da251d;
}
.select_multiple__item input:checked + span:before {
  background: #da251d;
  border-color: #da251d;
}
.select_multiple__item input:checked + span:after {
  opacity: 1;
  visibility: visible;
}
.select_multiple__dropdown {
  top: 100%;
  left: 0;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  min-width: 100%;
  margin-top: 10px;
  position: absolute;
  border: 1px solid #c4c4c4;
}
.select_multiple__dropdown:before {
  top: -7px;
  left: 16px;
  width: 13px;
  height: 7px;
  content: "";
  position: absolute;
  display: inline-block;
  background: url("../img/icon__select.png") 0 0 no-repeat;
}
.select_multiple__close {
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  z-index: 30;
  cursor: pointer;
  position: absolute;
  display: inline-block;
  background: url("../img/delete.png") 50% 50% no-repeat;
}
.select_multiple.active {
  z-index: 50;
}
.select_multiple.active .select_multiple__label {
  border-color: #da251d;
}
.select_multiple.active .select_multiple__label i {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.select_multiple.active .select_multiple__dropdown {
  opacity: 1;
  visibility: visible;
}

.main_filter {
  padding: 15px 0;
  margin-bottom: 13px;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.main_filter__show {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.main_filter__select {
  width: 65px;
  margin: 0 15px;
}
.main_filter__legend {
  color: #000;
  height: 35px;
  padding: 8px 0;
  font-size: 15px;
  line-height: 19px;
  display: inline-block;
}
.main_filter__legend.hide-xs {
  display: none;
}
.main_filter__view {
  font-size: 0;
  line-height: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.main_filter__view a {
  width: 37px;
  height: 35px;
  margin-left: 4px;
  text-align: center;
  display: inline-block;
  border: 1px solid #e3e3e3;
}
.main_filter__view a:first-child {
  padding: 6px 0;
}
.main_filter__view a:first-child i {
  height: 21px;
  width: auto;
  display: inline-block;
}
.main_filter__view a:last-child {
  padding: 10px 0;
}
.main_filter__view a:last-child i {
  height: 12px;
  width: auto;
  display: inline-block;
}
.main_filter__view a .ico-svg {
  fill: #000;
}
.main_filter__view a:hover {
  background: #da251d;
  border-color: #da251d;
}
.main_filter__view a:hover .ico-svg {
  fill: #fff;
}
.main_filter__view a.active {
  background: #da251d;
  border-color: #da251d;
}
.main_filter__view a.active .ico-svg {
  fill: #fff;
}
@media (min-width: 768px) {
  .main_filter__legend.hide-xs {
    display: inline-block;
  }
}

.showcase {
  margin: 0 -7px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.showcase__col {
  width: 100%;
  padding: 10px 7px;
}
.showcase.showcase_list .showcase__col {
  width: 100%;
}
@media (min-width: 768px) {
  .showcase__col {
    width: 50%;
  }
  .showcase.showcase_list .showcase__col {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .showcase__col {
    width: 33.33%;
  }
  .showcase.showcase_list .showcase__col {
    width: 100%;
  }
}

.goods {
  height: 450px;
  overflow: hidden;
  position: relative;
  border: 1px solid #f3f3f3;
}
.goods__image {
  padding: 20px 10px 0 10px;
}
.goods__image .img-fluid {
  margin: 0 auto;
}
.goods__content {
  left: 0;
  bottom: 0;
  color: #000;
  width: 100%;
  font-size: 14px;
  line-height: 21px;
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.goods__data {
  padding: 20px 20px 0 20px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.goods__data_name {
  height: 54px;
  font-size: 18px;
  font-weight: 700;
  overflow: hidden;
  line-height: 27px;
  margin-bottom: 10px;
}
.goods__data_name strong {
  display: block;
  font-size: 16px;
  text-transform: uppercase;
}
.goods__data_name span {
  display: block;
}
.goods__data_type {
  display: none;
  color: #909090;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.goods__data_text {
  display: none;
  margin-bottom: 20px;
}
.goods__data_info {
  margin: 0;
  padding: 0;
  display: none;
  list-style-type: square;
}
.goods__data_info > li {
  padding-left: 20px;
  position: relative;
}
.goods__data_info > li:before {
  left: 0;
  top: 8px;
  width: 5px;
  height: 5px;
  content: "";
  background: #000;
  position: absolute;
  display: inline-block;
}
.goods__action {
  border-top: 2px solid #f3f3f3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.goods__button {
  width: 50%;
  color: #000;
  outline: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  padding: 15px 5px;
  display: inline-block;
  text-decoration: none;
}
.goods__button span {
  position: relative;
  display: inline-block;
}
.goods__button span:before {
  left: 0;
  top: 2px;
  content: "";
  height: 16px;
  position: absolute;
  display: inline-block;
  background: url("../img/goods__button_icon.png") 0 0 no-repeat;
}
.goods__button:hover {
  color: #000;
  text-decoration: none;
}
.goods__button_compare {
  border-right: 1px solid #f3f3f3;
}
.goods__button_compare span {
  padding-left: 20px;
}
.goods__button_compare span:before {
  width: 15px;
  background-position: 0 0;
}
.goods__button_view {
  border-left: 1px solid #f3f3f3;
}
.goods__button_view span {
  padding-left: 23px;
}
.goods__button_view span:before {
  width: 18px;
  background-position: -15px 0;
}
@media (min-width: 768px) {
  .goods_list {
    height: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .goods_list .goods__image {
    width: 240px;
    padding-top: 30px;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .goods_list .goods__content {
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    padding: 20px 15px;
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
  }
  .goods_list .goods__data {
    padding: 0 15px 0 0;
  }
  .goods_list .goods__data_type {
    color: #a3a3a3;
    display: block;
  }
  .goods_list .goods__data_text {
    color: #a3a3a3;
    display: block;
  }
  .goods_list .goods__data_info {
    color: #a3a3a3;
    display: block;
  }
  .goods_list .goods__data_info li:before {
    background: #a3a3a3;
  }
  .goods_list .goods__action {
    width: 150px;
    border-top: none;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .goods_list .goods__button {
    width: 100%;
    margin-bottom: 12px;
    border: 1px solid #d9d9d9;
  }
  .goods_list .goods__button:hover {
    color: #fff;
    background: #000;
    border-color: #000;
  }
  .goods_list .goods__button_compare:hover span:before {
    background-position: 0 -16px;
  }
  .goods_list .goods__button_view:hover span:before {
    background-position: -15px -16px;
  }
}
@media (min-width: 992px) {
  .goods__content {
    top: 310px;
    bottom: auto;
    height: 100%;
  }
  .goods__data_type {
    display: block;
  }
  .goods__data_text {
    display: block;
  }
  .goods__data_info {
    display: block;
  }
  .goods:hover .goods__content {
    top: 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  .goods:hover .goods__data_type {
    color: #fff;
  }
  .goods:hover .goods__data_info > li:before {
    background: #fff;
  }
  .goods:hover .goods__action {
    border-top-color: #fff;
  }
  .goods:hover .goods__button {
    color: #fff;
  }
  .goods:hover .goods__button:hover {
    color: #fff;
  }
  .goods:hover .goods__button_compare {
    border-right-color: #fff;
  }
  .goods:hover .goods__button_compare span:before {
    background-position: 0 -16px;
  }
  .goods:hover .goods__button_view {
    border-left-color: #fff;
  }
  .goods:hover .goods__button_view span:before {
    background-position: -15px -16px;
  }
  .goods_list:hover .goods__content {
    top: auto;
    color: #000;
    background: transparent;
  }
  .goods_list:hover .goods__data_type {
    color: #909090;
  }
  .goods_list:hover .goods__data_info > li:before {
    background: #a3a3a3;
  }
  .goods_list:hover .goods__action {
    border-top-color: transparent;
  }
  .goods_list:hover .goods__button {
    color: #000;
  }
  .goods_list:hover .goods__button:hover {
    color: #fff;
  }
  .goods_list:hover .goods__button_compare {
    border-right-color: #d9d9d9;
  }
  .goods_list:hover .goods__button_compare span:before {
    background-position: 0 0;
  }
  .goods_list:hover .goods__button_compare:hover span:before {
    background-position: 0 -16px;
  }
  .goods_list:hover .goods__button_view {
    border-left-color: #d9d9d9;
  }
  .goods_list:hover .goods__button_view span:before {
    background-position: -15px 0;
  }
  .goods_list:hover .goods__button_view:hover span:before {
    background-position: -15px -16px;
  }
}
@media (min-width: 1200px) {
  .goods_list .goods__image {
    width: 260px;
  }
  .goods_list .goods__content {
    padding: 40px 60px 30px 20px;
  }
}

.product {
  margin-bottom: 50px;
}
.product__gallery {
  font-size: 0;
  line-height: 0;
  text-align: center;
  margin-bottom: 30px;
  border: 1px solid #d6d6d6;
  padding: 30px 20px 20px 20px;
}
.product__gallery_item {
  border: none;
  outline: none;
  margin-bottom: 15px;
}
.product__gallery_item a {
  border: none;
  outline: none;
  margin: 0 auto;
  position: relative;
  display: inline-block;
}
.product__gallery_item a:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background: rgba(255, 255, 255, 0.7) url("../img/icon__loop.png") 50% 50% no-repeat;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.product__gallery_item a:hover:before {
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.product__gallery .slick-dots li {
  margin: 0;
  opacity: 1;
  width: 16px;
  height: 16px;
}
.product__gallery .slick-dots li button {
  opacity: 1;
  width: 16px;
  height: 16px;
  position: relative;
}
.product__gallery .slick-dots li button:before {
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  content: "";
  opacity: 1;
  position: absolute;
  background: #dddddd;
  margin: -4px 0 0 -4px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.product__gallery .slick-dots li.slick-active button:before {
  background: #da251d;
}
.product__params {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.product__params > li {
  width: 100%;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.product__params > li i {
  width: 40px;
  display: inline-block;
}
.product__params > li span {
  margin: auto 0;
  display: inline-block;
}
.product__params_text {
  padding-left: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.product__weight {
  padding: 15px 20px;
  background: #f0f0f0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.product__weight_title {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}
.product__weight_value {
  width: 35px;
  height: 41px;
  color: #fff;
  font-size: 0;
  line-height: 0;
  padding-top: 18px;
  text-align: center;
  margin-left: 10px;
  background: url("../img/goods/icon__dumbbell.png") 50% 50% no-repeat;
}
.product__weight_value span {
  display: block;
  font-size: 10px;
  font-weight: 700;
  line-height: 8px;
}
.product__weight_value strong {
  display: block;
  font-size: 13px;
  font-weight: 700;
  line-height: 10px;
}
.product__button {
  padding: 0;
  font-size: 0;
  line-height: 0;
  margin: 0 -5px;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.product__button > li {
  padding: 0 5px;
}
.product__block {
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 45px;
}
.product_readmore {
  line-height: 17px;
  color: #da251d;
  text-decoration: none;
  display: inline-block;
  padding-right: 10px;
  background: url("../img/goods/icon__angle_right.svg") 100% 50% no-repeat;
}
.product_readmore span {
  border-bottom: 1px dotted #da251d;
}
.product_readmore:hover {
  color: #da251d;
  text-decoration: none;
}
.product_readmore:hover span {
  border-bottom-color: transparent;
}
@media (min-width: 576px) {
  .product__params > li {
    width: calc(50% - 10px);
  }
}
@media (min-width: 768px) {
  .product {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .product__gallery {
    width: calc(50% - 15px);
    margin-bottom: 0;
  }
  .product__info {
    width: calc(50% - 15px);
  }
  .product__params > li {
    width: 100%;
    margin-bottom: 17px;
  }
}
@media (min-width: 992px) {
  .product__params > li {
    width: 100%;
    margin-bottom: 16px;
  }
}
@media (min-width: 1200px) {
  .product__gallery {
    width: 300px;
    padding: 15px 20px 10px 20px;
  }
  .product__gallery_item {
    margin-bottom: 20px;
  }
  .product__gallery_item a {
    width: 200px;
  }
  .product__info {
    width: 530px;
  }
  .product__params > li {
    margin-bottom: 30px;
    width: calc(50% - 10px);
  }
}

.btn_compare {
  width: 40px;
  height: 40px;
  outline: none;
  font-size: 0;
  line-height: 0;
  padding: 11px 0;
  text-align: center;
  position: relative;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #da251d;
}
.btn_compare i {
  width: 14px;
  height: 15px;
  display: inline-block;
}
.btn_compare .ico-svg {
  fill: #da251d;
}
.btn_compare:hover {
  text-decoration: none;
  background: #da251d;
}
.btn_compare:hover .ico-svg {
  fill: #fff;
}

.btn_calc {
  width: 40px;
  height: 40px;
  outline: none;
  font-size: 0;
  line-height: 0;
  padding: 9px 0;
  text-align: center;
  position: relative;
  display: inline-block;
  text-decoration: none;
  background: #fff url("../img/goods/icon__count.png") 50% 50% no-repeat;
  border: 1px solid #da251d;
}
.btn_calc:hover {
  text-decoration: none;
  background-color: #da251d;
}

.btn_purchase {
  height: 40px;
  outline: none;
  font-size: 0;
  line-height: 0;
  color: #000;
  padding: 10px 20px 8px 20px;
  text-align: center;
  position: relative;
  text-decoration: none;
  border: 1px solid #da251d;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.btn_purchase i {
  width: 12px;
  height: 17px;
  margin-top: 2px;
  margin-right: 10px;
  display: inline-block;
}
.btn_purchase span {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  display: inline-block;
}
.btn_purchase .ico-svg {
  fill: #da251d;
}
.btn_purchase:hover {
  color: #fff;
  text-decoration: none;
  background: #da251d;
}
.btn_purchase:hover .ico-svg {
  fill: #fff;
}

.product_tabs {
  overflow: hidden;
  margin-bottom: 30px;
  border: 1px solid #d9d9d9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.product_tabs__nav {
  margin-right: -1px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.product_tabs__nav > li {
  width: 50%;
}
.product_tabs__nav > li:nth-child(5), .product_tabs__nav > li:nth-child(6), .product_tabs__nav > li:nth-child(7) {
  width: 33.33%;
}
.product_tabs__nav > li a {
  color: #000;
  width: 100%;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  border-right: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
.product_tabs__nav > li a:hover {
  color: #da251d;
  text-decoration: none;
}
.product_tabs__nav > li.active a {
  color: #da251d;
}
.product_tabs__content {
  padding: 25px;
}
.product_tabs__item {
  display: none;
}
.product_tabs__item.active {
  display: block;
}
@media (min-width: 576px) {
  .product_tabs__nav > li:nth-child(1), .product_tabs__nav > li:nth-child(2), .product_tabs__nav > li:nth-child(3) {
    width: 33.33%;
  }
  .product_tabs__nav > li:nth-child(3) a {
    border-right: none;
  }
  .product_tabs__nav > li:nth-child(4), .product_tabs__nav > li:nth-child(5), .product_tabs__nav > li:nth-child(6), .product_tabs__nav > li:nth-child(7) {
    width: 25%;
  }
}
@media (min-width: 1200px) {
  .product_tabs__nav > li {
    width: auto;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .product_tabs__nav > li:nth-child(1), .product_tabs__nav > li:nth-child(2), .product_tabs__nav > li:nth-child(3), .product_tabs__nav > li:nth-child(4), .product_tabs__nav > li:nth-child(5), .product_tabs__nav > li:nth-child(6), .product_tabs__nav > li:nth-child(7) {
    width: auto;
  }
  .product_tabs__nav > li:nth-child(3) a {
    border-right: 1px solid #d9d9d9;
  }
}

.slide_box {
  overflow: hidden;
}

.slider_border {
  position: relative;
}
.slider_border:after, .slider_border:before {
  top: 0;
  bottom: 0;
  width: 1px;
  content: "";
  z-index: 100;
  display: block;
  position: absolute;
  background: #f3f3f3;
}
.slider_border:after {
  left: 0;
}
.slider_border:before {
  right: 0;
}

.comment {
  margin-bottom: 30px;
}
.comment__heading {
  margin-bottom: 15px;
}
.comment__heading_text {
  color: #000;
  font-size: 13px;
  font-weight: 700;
  line-height: 24px;
}
.comment__heading__rate .fa,
.comment__heading__rate .fas {
  font-size: 12px !important;
  line-height: 12px !important;
}
.comment__text {
  padding: 20px;
  font-size: 13px;
  line-height: 18px;
  background: #f0f0f0;
}
.comment__image {
  display: none;
  padding-left: 20px;
}
.comment__image a {
  display: block;
  border: 1px solid #f2f2f2;
}
.comment_new__box {
  max-width: 400px;
}
@media (min-width: 576px) {
  .comment__heading {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
}
@media (min-width: 768px) {
  .comment {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .comment__body {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .comment__image {
    width: 130px;
    display: block;
    padding-top: 40px;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
}
.raty i {
  color: #da251d;
}
.raty i.star-off {
  color: #d9d9d9;
}

.faq {
  margin-bottom: 20px;
  border: 1px solid #d9d9d9;
}
.faq__question {
  color: #000;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  position: relative;
  background: #f0f0f0;
  padding: 15px 60px 15px 20px;
}
.faq__question i {
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  position: absolute;
  display: inline-block;
  border-left: 1px solid #d9d9d9;
}
.faq__question svg {
  top: 50%;
  left: 50%;
  width: 10px;
  height: 5px;
  position: absolute;
  margin: -3px 0 0 -5px;
  display: inline-block;
  fill: #da251d;
}
.faq__answer {
  color: #000;
  display: none;
  font-size: 14px;
  line-height: 24px;
  padding: 15px 60px 15px 20px;
  border-top: 1px solid #d9d9d9;
}
.faq.open .faq__question svg {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.faq.open .faq__answer {
  display: block;
}

.new_question {
  padding-top: 30px;
}

.compare {
  width: 100%;
  max-width: 100%;
  position: relative;
}
.compare__scroll {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
}
.compare__wrap {
  display: block;
  position: relative;
}
.compare__clear {
  color: #6a6a6a;
  font-size: 14px;
  line-height: 20px;
  padding-left: 40px;
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.compare__clear:after, .compare__clear:before {
  left: 0;
  top: 50%;
  z-index: 10;
  width: 13px;
  height: 1px;
  content: "";
  position: absolute;
  display: inline-block;
  background: #6a6a6a;
}
.compare__clear:after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.compare__clear:before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.compare__clear:hover {
  color: #6a6a6a;
  text-decoration: underline;
}
.compare__clear_wrap {
  position: relative;
  margin-bottom: 20px;
}
.compare__data {
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 13px;
  line-height: 16px;
  list-style: none;
}
.compare__data li {
  background: #fff;
  padding: 9px 5px;
}
.compare__data li:nth-child(even) {
  background: #f0f0f0;
}
.compare__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.compare__row:nth-child(even) {
  background: #f0f0f0;
}
.compare__row:nth-child(even) .compare__elem_data {
  background: #f0f0f0;
}
.compare__elem {
  color: #000;
  font-size: 13px;
  padding: 8px 5px;
  line-height: 17px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.compare__elem span {
  margin: auto 0;
  display: inline-block;
}
.compare__elem_legend {
  width: 54%;
  min-width: 54%;
}
.compare__elem_legend span {
  display: block;
}
.compare__elem_data {
  width: 46%;
  max-width: 46%;
  overflow: hidden;
  white-space: nowrap;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.compare__elem_heading {
  padding: 0;
}
.compare__nav {
  height: 50px;
}
.compare__legend {
  left: 0;
  top: 0;
  width: 54%;
  z-index: 100;
  display: block;
  background: #fff;
  position: absolute;
  padding-top: 445px;
}
.compare__legend ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.compare__legend li {
  color: #000;
  display: block;
  font-size: 13px;
  padding: 8px 5px;
  line-height: 17px;
}
.compare__legend li:nth-child(even) {
  background: #f0f0f0;
}
@media (min-width: 576px) {
  .compare__elem {
    padding: 8px 15px;
  }
  .compare__elem_data {
    width: 46%;
    max-width: 46%;
  }
  .compare__elem_heading {
    padding: 0;
  }
  .compare__legend {
    padding-top: 455px;
  }
  .compare__legend li {
    padding: 8px 15px;
  }
}
@media (min-width: 768px) {
  .compare__clear {
    right: 0;
    top: -45px;
    position: absolute;
  }
  .compare__clear_wrap {
    margin-bottom: 0;
  }
  .compare__nav {
    height: 100px;
  }
  .compare__elem_data {
    width: 205px;
    max-width: 205px;
  }
  .compare__elem_legend {
    width: auto;
    min-width: 280px;
  }
  .compare__elem_legend span {
    max-width: 250px;
  }
  .compare__legend {
    width: 280px;
    padding-top: 505px;
  }
  .compare .mCSB_scrollTools.mCSB_scrollTools_horizontal {
    left: auto;
    bottom: auto;
    top: 450px;
    width: 410px;
  }
  .compare .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonLeft,
.compare .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonRight {
    top: -10px;
    width: 38px;
    height: 34px;
    display: block;
    opacity: 1;
    overflow: hidden;
    position: absolute;
    margin: 0 auto;
    cursor: pointer;
    background: #fff;
    border: 1px solid #dadada;
  }
  .compare .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonLeft:before,
.compare .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonRight:before {
    top: 50%;
    left: 50%;
    width: 24px;
    color: #777777;
    font-size: 16px;
    font-weight: 900;
    line-height: 16px;
    text-align: center;
    position: absolute;
    margin: -8px 0 0 -12px;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-family: "Font Awesome 5 Free";
  }
  .compare .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonLeft:hover,
.compare .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonRight:hover {
    background: #f0f0f0;
  }
  .compare .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonLeft:hover:before,
.compare .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonRight:hover:before {
    color: #da251d;
  }
  .compare .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonRight {
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -ms-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
  }
  .compare .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonRight:before {
    content: "";
  }
  .compare .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonLeft {
    left: auto;
    right: 37px;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
  }
  .compare .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonLeft:before {
    content: "";
  }
  .compare .mCSB_scrollTools.mCSB_scrollTools_horizontal a + .mCSB_draggerContainer {
    margin: 0 90px 0 0;
  }
  .compare .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background: #da251d !important;
  }
  .compare .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar:hover {
    background: #da251d !important;
  }
  .compare .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background: #da251d !important;
  }
}
@media (min-width: 992px) {
  .compare__elem_legend {
    min-width: 267px;
  }
  .compare__elem_legend span {
    max-width: 237px;
  }
  .compare__legend {
    width: 267px;
  }
}
@media (min-width: 1200px) {
  .compare__elem_legend {
    min-width: 242px;
  }
  .compare__elem_legend span {
    max-width: 212px;
  }
  .compare__legend {
    width: 242px;
  }
  .compare .mCSB_scrollTools.mCSB_scrollTools_horizontal {
    width: 615px;
  }
}

.compare_product {
  height: 395px;
  overflow: hidden;
  position: relative;
  padding: 20px 10px 15px 10px;
  border: 1px solid #f1f1f1;
}
.compare_product__remove {
  top: 5px;
  right: 5px;
  z-index: 20;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  display: inline-block;
}
.compare_product__remove:after, .compare_product__remove:before {
  left: 50%;
  top: 50%;
  z-index: 10;
  width: 13px;
  height: 1px;
  content: "";
  margin-left: -6px;
  position: absolute;
  display: inline-block;
  background: #da251d;
}
.compare_product__remove:after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.compare_product__remove:before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.compare_product__remove:hover:after, .compare_product__remove:hover:before {
  background: #000;
}
.compare_product__image {
  display: block;
  max-width: 160px;
  margin: 0 auto 15px auto;
}
.compare_product__name {
  color: #000;
  height: 60px;
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  overflow: hidden;
  text-decoration: none;
  margin-bottom: 8px;
}
.compare_product__name:hover {
  color: #000;
  text-decoration: none;
}
.compare_product__type {
  color: #5b5b5b;
  font-size: 13px;
  line-height: 20px;
  height: 20px;
  overflow: hidden;
}
@media (min-width: 576px) {
  .compare_product {
    height: 405px;
    padding: 15px 20px 15px 20px;
  }
  .compare_product__image {
    margin-bottom: 10px;
  }
  .compare_product__name {
    height: 40px;
    font-size: 18px;
  }
}

.contact_nav__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  border: 1px solid #d9d9d9;
  border-top: none;
  padding: 14px 6px 14px 22px;
}
.contact_nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.contact_nav ul li {
  position: relative;
  border: 1px solid #d9d9d9;
  border-top: none;
}
.contact_nav ul li a {
  color: #000;
  width: 100%;
  font-size: 15px;
  line-height: 20px;
  text-transform: none;
  text-decoration: none;
  display: inline-block;
  padding: 14px 6px 14px 19px;
  border-left: 3px solid transparent;
}
.contact_nav ul li a:hover {
  color: #da251d;
  background: #f0f0f0;
  text-decoration: none;
  border-left-color: #da251d;
}
.contact_nav ul li.active a {
  color: #da251d;
  background: #f0f0f0;
  border-left-color: #da251d;
}

.contact_map {
  margin-bottom: 20px;
}

.contact_type {
  margin: 0;
  padding: 0;
  list-style: none;
  border-right: 1px solid #d8d8d8;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.contact_type li {
  width: 33.33%;
  border: 1px solid #d8d8d8;
  border-right: none;
}
.contact_type li a {
  width: 100%;
  font-size: 0;
  line-height: 0;
  height: 68px;
  font-weight: 700;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.contact_type li a i {
  display: none;
}
.contact_type li a span {
  font-size: 12px;
  line-height: 18px;
  display: inline-block;
}
.contact_type li a:hover {
  color: #da251d;
  background: #f0f0f0;
  text-decoration: none;
}
.contact_type li.active a {
  color: #da251d;
  background: #f0f0f0;
}
@media (min-width: 768px) {
  .contact_type li a {
    padding: 10px 10px;
  }
  .contact_type li a i {
    width: 36px;
    height: 36px;
    margin-right: 10px;
    display: inline-block;
  }
}
@media (min-width: 1200px) {
  .contact_type li a {
    padding: 10px 10px;
  }
  .contact_type li a i {
    margin-right: 20px;
  }
  .contact_type li a span {
    font-size: 14px;
  }
}

.contact {
  font-size: 15px;
  line-height: 25px;
  padding: 10px 20px 13px 20px;
  margin-bottom: 20px;
  background: #ffffff;
  border: 1px solid #d8d8d8;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.contact.active {
  background: #f0f0f0;
}
.contact__info {
  width: 100%;
  margin-bottom: 20px;
}
.contact__info_name {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #da251d;
  margin-bottom: 4px;
  text-decoration: none;
  display: inline-block;
  font-family: "RoundedMplus1c", Arial, sans-serif;
}
.contact__info_name:hover {
  color: #000;
  text-decoration: none;
}
.contact__info_address {
  font-weight: 700;
  font-family: "RoundedMplus1c", Arial, sans-serif;
}
.contact__info_metro {
  color: #656565;
  font-size: 13px;
  line-height: 20px;
  padding-left: 24px;
  background: url("../img/icon__metro.png") 0 3px no-repeat;
}
.contact__phones {
  width: 50%;
}
.contact__phones ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.contact__phones a {
  color: #000;
  text-decoration: none;
}
.contact__phones a:hover {
  color: #000;
  text-decoration: none;
}
.contact__email {
  width: 50%;
}
.contact__email ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.contact__email a {
  color: #da251d;
  text-decoration: none;
}
.contact__email a:hover {
  color: #000;
  text-decoration: none;
}
@media (min-width: 768px) {
  .contact {
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
  }
  .contact__info {
    margin-bottom: 0;
    padding-right: 20px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .contact__phones {
    width: 200px;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .contact__email {
    width: 150px;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
}

.contact_map {
  height: 400px;
}
@media (min-width: 768px) {
  .contact_map {
    height: 450px;
  }
}

.map_points {
  width: 250px;
  color: #636363;
  font-size: 13px;
  line-height: 16px;
  padding-bottom: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.map_points__name {
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #da251d;
  margin-bottom: 4px;
  text-decoration: none;
  display: inline-block;
  font-family: "RoundedMplus1c", Arial, sans-serif;
}
.map_points__name:hover {
  color: #000;
  text-decoration: none;
}
.map_points__address {
  width: 100%;
}
.map_points__metro {
  width: 100%;
  color: #656565;
  font-size: 13px;
  line-height: 20px;
  padding-left: 24px;
  background: url("../img/icon__metro.png") 0 3px no-repeat;
}
.map_points__phones {
  margin: 0;
  padding: 10px 0 0 0;
  list-style: none;
  width: 50%;
}
.map_points__phones a {
  color: #636363;
  text-decoration: none;
}
.map_points__phones a:hover {
  color: #636363;
  text-decoration: none;
}
.map_points__email {
  margin: 0;
  padding: 10px 0 0 0;
  list-style: none;
  width: 50%;
}
.map_points__email a {
  color: #da251d;
  text-decoration: none;
}
.map_points__email a:hover {
  color: #da251d;
  text-decoration: none;
}

.contact_row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}

.contact_elem {
  width: 100%;
  font-size: 15px;
  line-height: 25px;
  padding: 15px 20px;
  margin-bottom: 30px;
  border: 1px solid #d8d8d8;
}
.contact_elem__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 5px;
  font-family: "RoundedMplus1c", Arial, sans-serif;
}
.contact_elem__phone {
  color: #000;
  text-decoration: none;
}
.contact_elem__phone:hover {
  color: #000;
  text-decoration: none;
}
.contact_elem__email {
  color: #da251d;
  text-decoration: none;
}
.contact_elem__email:hover {
  color: #000;
  text-decoration: none;
}
@media (min-width: 768px) {
  .contact_elem {
    width: calc(50% - 10px);
  }
}
@media (min-width: 992px) {
  .contact_elem {
    width: calc(25% - 8px);
  }
}

.second_nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.second_nav li {
  position: relative;
  border: 1px solid #d9d9d9;
  border-top: none;
}
.second_nav li a {
  color: #000;
  width: 100%;
  font-size: 15px;
  line-height: 20px;
  text-transform: none;
  text-decoration: none;
  display: inline-block;
  padding: 14px 6px 14px 19px;
  border-left: 3px solid transparent;
}
.second_nav li a:hover {
  color: #da251d;
  background: #f0f0f0;
  text-decoration: none;
  border-left-color: #da251d;
}
.second_nav li.active a {
  color: #da251d;
  background: #f0f0f0;
  border-left-color: #da251d;
}

.news_block {
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #f3f3f3;
}
.news_block__image {
  margin-bottom: 20px;
}
.news_block__image a {
  display: block;
}
.news_block__date {
  color: #878787;
  font-size: 10px;
  line-height: 14px;
  margin-bottom: 15px;
}
.news_block__text {
  color: #000;
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 20px;
}
.news_block h4 {
  color: #000;
  padding: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin: 0 0 5px 0;
}
.news_block h4 a {
  color: #000;
  text-decoration: none;
}
.news_block h4 a:hover {
  color: #da251d;
  text-decoration: none;
}
@media (min-width: 768px) {
  .news_block {
    padding: 30px 15px 30px 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .news_block__image {
    width: 280px;
    margin-bottom: 0;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .news_block__content {
    padding-left: 30px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
}
.post_date {
  color: #878787;
  font-size: 10px;
  line-height: 12px;
  margin-bottom: 15px;
}

.company_box {
  margin-bottom: 60px;
}
.company_box__image {
  margin-bottom: 30px;
  padding: 40px 20px;
  border: 1px solid #dadada;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.company_box__logo {
  margin: auto;
  max-width: 320px;
  display: block;
}
.company_box__text p {
  margin-bottom: 25px;
}
.company_box__text p:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .company_box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .company_box__image {
    width: 45%;
    margin-bottom: 0;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .company_box__text {
    padding-left: 20px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
}
@media (min-width: 1200px) {
  .company_box__image {
    width: 380px;
  }
}

.vacancies {
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 20px;
  border: 1px solid #d8d8d8;
  padding: 25px 20px 30px 20px;
}
.vacancies h4 {
  padding: 0;
  margin: 0 0 15px 0;
}
.vacancies__requirement {
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  margin: 0 0 10px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.vacancies__requirement li {
  color: #8f8f8f;
  font-size: 12px;
  line-height: 20px;
  display: inline-block;
}
.vacancies__requirement li:after {
  content: "—";
  color: #d8d8d8;
  padding: 0 10px;
}
.vacancies__requirement li:last-child:after {
  display: none;
}
.vacancies__text {
  margin-bottom: 10px;
}

.vacancies_heading {
  padding: 10px 10px;
  background: #f0f0f0;
  margin-bottom: 50px;
  border-left: 3px solid #c22328;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.vacancies_heading li {
  width: 50%;
  padding: 10px 10px;
}
.vacancies_heading li strong {
  display: block;
  font-size: 15px;
  line-height: 20px;
}
.vacancies_heading li span {
  font-size: 13px;
  line-height: 22px;
  display: block;
}
@media (min-width: 768px) {
  .vacancies_heading li {
    width: 20%;
  }
}
@media (min-width: 1200px) {
  .vacancies_heading {
    padding: 10px 20px;
  }
}

/*# sourceMappingURL=main.css.map */
