
@font-face{
	font-family: 'Montserrat-SemiBold';
	src: url('../fonts/Montserrat-SemiBold.ttf');
	font-weight: normal;
	font-style: normal;
}


@font-face{
	font-family: 'RoundedMplus1c';
	src: url('../fonts/RoundedMplus1c-ExtraBold.ttf');
	font-weight: 900;
	font-style: normal;
}

@font-face{
	font-family: 'RoundedMplus1c';
	src: url('../fonts/RoundedMplus1c-Bold.ttf');
	font-weight: 700;
	font-style: normal;
}

@font-face{

	font-family: 'RoundedMplus1c';
	src: url('../fonts/RoundedMplus1c-Regular.ttf');
	font-weight: 400;
	font-style: normal;
}

/*

@font-face{
	font-family: 'RoundedMplus1c-ExtraBold';
	src: url('../fonts/RoundedMplus1c-ExtraBold.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: 'RoundedMplus1c-Bold';
	src: url('../fonts/RoundedMplus1c-Bold.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face{

	font-family: 'RoundedMplus1c-Regular';
	src: url('../fonts/RoundedMplus1c-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

*/