.company_box {
	margin-bottom: 60px;

	&__image {
		margin-bottom: 30px;
		padding: 40px 20px;
		border: 1px solid #dadada;
		@include flexbox();
		@include flex-direction(column);
	}

	&__logo {
		margin: auto;
		max-width: 320px;
		display: block;
	}

	&__text {

		p {
			margin-bottom: 25px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

	}

	@media (min-width: $screen-md-min) {
		@include flexbox();

		&__image {
			width: 45%;
			margin-bottom: 0;
			@include flex-shrink(0);
		}

		&__text {
			padding-left: 20px;
			@include flex-grow(1);
		}
	}

	@media (min-width: $screen-xl-min) {

		&__image {
			width: 380px;
		}
	}
}

.vacancies {
	font-size: 15px;
	line-height: 25px;
	margin-bottom: 20px;
	border: 1px solid #d8d8d8;
	padding: 25px 20px 30px 20px;

	h4 {
		padding: 0;
		margin: 0 0 15px 0;
	}

	&__requirement {
		padding: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;
		margin: 0 0 10px 0;
		@include flexbox();
		@include flex-wrap(wrap);

		li {
			color: #8f8f8f;
			font-size: 12px;
			line-height: 20px;
			display: inline-block;

			&:after {
				content: '—';
				color: #d8d8d8;
				padding: 0 10px;
			}

			&:last-child {

				&:after {
					display: none;
				}
			}
		}
	}

	&__text {
		margin-bottom: 10px;
	}
}

.vacancies_heading {
	padding: 10px 10px;
	background: #f0f0f0;
	margin-bottom: 50px;
	border-left: 3px solid #c22328;
	@include flexbox();
	@include flex-wrap(wrap);

	li {
		width: 50%;
		padding: 10px 10px;

		strong {
			display: block;
			font-size: 15px;
			line-height: 20px;
		}

		span {
			font-size: 13px;
			line-height: 22px;
			display: block;
		}
	}

	@media (min-width: $screen-md-min) {

		li {
			width: 20%;
		}
	}

	@media (min-width: $screen-xl-min) {
		padding: 10px 20px;
	}
}

