.second_nav {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		position: relative;
		border: 1px solid #d9d9d9;
		border-top: none;

		a {
			color: #000;
			width: 100%;
			font-size: 15px;
			line-height: 20px;
			text-transform: none;
			text-decoration: none;
			display: inline-block;
			padding: 14px 6px 14px 19px;
			border-left: 3px solid transparent;

			&:hover {
				color: $color-red;
				background: #f0f0f0;
				text-decoration: none;
				border-left-color: $color-red;
			}
		}

		&.active {

			a {
				color: $color-red;
				background: #f0f0f0;
				border-left-color: $color-red;
			}
		}
	}
}

