.comment {
	margin-bottom: 30px;

	&__heading {
		margin-bottom: 15px;

		&_text {
			color: #000;
			font-size: 13px;
			font-weight: 700;
			line-height: 24px;
		}

		&__rate {

			.fa,
			.fas {
				font-size: 12px !important;
				line-height: 12px !important;
			}
		}
	}

	&__body {

	}

	&__text {
		padding: 20px;
		font-size: 13px;
		line-height: 18px;
		background: #f0f0f0;
	}

	&__image {
		display: none;
		padding-left: 20px;

		a {
			display: block;
			border: 1px solid #f2f2f2;
		}
	}

	&_new {

		&__box {
			max-width: 400px;
		}
	}

	@media (min-width: $screen-sm-min) {

		&__heading {
			@include flexbox();
			@include justify-content(space-between);
		}
	}

	@media (min-width: $screen-md-min) {
		@include flexbox();

		&__body {
			@include flex-grow(1);
		}

		&__image {
			width: 130px;
			display: block;
			padding-top: 40px;
			@include flex-shrink(0);
		}
	}

	@media (min-width: $screen-lg-min) {

	}
}

.raty {

	i {
		color: $color-red;

		&.star-off {
			color: #d9d9d9;
		}
	}
}