/*--------------basic---------------*/
body{
	font-family: $font-family-base;
	width: 100%;
	height: 100%;

}
.wrap{
	overflow-y: hidden;
	overflow-x: hidden;
	height: 100%;
	background-color: #f0f0f0;
	background-repeat: no-repeat;
	background-size: 100%;

}
.wrap-content{
	max-width: 1260px;
	margin: 0 auto;
	background-color: #fff;
}
.img-responsive{
	display: block;
	max-width: 100%;
	height: auto;
}



/*--------------basic-end-----------*/
/*--------------nav-----------------*/
.general-nav{
	z-index: 3000;
}
.navbar{
	font-weight: 700;
	padding: 0.75rem 0;
}
.nav-link{
	font-size: 13px;
	text-transform: uppercase;
	color: #000;
}
.nav-link:hover{
	color: #da251d;
}
/*.icon-bar{
	display: block;
    width: 1.5rem;
    height: 2px;
    border-radius: 1px;
    background-color: #e21c2a;
    margin-top: 5px;
}*/
input.search-pr{
	padding: 21px 0px 21px 14px ;
	font-weight: 400;
	font-size: 13px;
	background: #f0f0f0;
	border: none;
	border-radius: 0px;

}
input.search-pr:focus{
	background: #f0f0f0;
}
.loupe{
	border: none;
	border-left: none;
	color: #ced4da;
	padding: 9px 12px 3px 7px;
	background-color: #f0f0f0;
	border-radius: 0px;
}
.loupe:focus{
	outline: none;
	box-shadow: none;
}
.form-control{
	border-right: none;
	outline: none;
}
input.form-control:focus{
	outline: none;
	box-shadow: none;
	border-color: #ced4da;
}
.input-group{
	max-width: 190px;
	margin-right: 20px;
}
.input-group-append{
	background: #f0f0f0;
}
.func-btn{
	width: 44px;
	height: 44px;
	background: #f0f0f0;
	border-radius: 50%;
	border: none;
}
button.func-btn:hover{
	cursor: pointer;

}
button.func-btn:focus{
	outline: none;

}
button.func-btn:active{
	outline: none;
}
.func-btn-phone{
	width: 44px;
	height: 44px;
	background: #da251d;
	border-radius: 50%;
	border: none;
}
.func-btn-zero{
	position: relative;
}
.func-btn-phone:hover{
	cursor: pointer;
}
.func-btn-phone:focus{
	outline: none;
}
.func-btn-phone:active{
	outline: none;
}
.calc{
	display: block;
	margin:0px auto;
}
.calc-zero{
	width: 15px;
	height: 15px;
	font-size: 10px;
	color: #fff;
	background: #da251d;
	position: absolute;
	border-radius: 50%;
	right: 0;
	top: 0;
}
.phone-header{
	white-space: nowrap;
	display: block;
	font-size: 17px;
	color: #000;
}
.phone-header:hover{
	text-decoration: none;
	color: #da251d
}
#button-addon2{
	background: none;
}
.nav-scroll{
	background: rgb(255,255,255);
	opacity: 0;
	z-index: -999999999999;
	transition: .5s opacity ease;
}
.nav-scroll-active{
	opacity: 1!important;
	z-index: 1030!important;
}
.catalog-fix{
	background: #f0f0f0;
	padding: 30px 0;
}
.catalog-fix ul li{
	position: relative;
}
.catalog-btn{
	width: 285px;
	background: #f0f0f0;
	border-radius: 0;
	color: #000;
	border:none;
	transition: 0s;
	outline: none;
	display: flex;
	justify-content: space-between;
	padding: 9px 15px 8px;
}
.catalog-btn span{
	display: inline-block;
	font-size: 14px;
	text-transform: uppercase;
}
.catalog-btn:hover{
	color: #000;
	background: #dedcdc;
}
.catalog-btn:active{
	border: none!important;
	background: #da251d!important;
	outline: none!important;
	box-shadow: none!important;
	color: #fff!important;
}
.catalog-btn:focus{
	outline: none;
	box-shadow: none;
}
.catalog-btn-act{
	color: #fff!important;
	background: #da251d!important;
}
span.cross{
	display: none;
}
.down-catalog-d-n{
	display: none!important;
}
.cross-d-in-b{
	display: inline-block!important;
}
.catalog-fix-link{
	width: 100%;
	display: inline-block;
	padding: 15px 0;
	color: #000;
	font-size: 15px;
}
.catalog-fix-link:hover{
	color: #da251d;
	text-decoration: none;
}
.link-fix-add{
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	display: inline-block;
	padding: 0 5px;
	font-size: 9px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
}
.restore-fix{
	background: #a68c77;
}
.industry-fix{
	background: #a52388;
}
.turbo-fix{
	background: #8c4653;
}
.thermo-fix{
	background: #fea729
}
.protect-fix{
	background: #c02221;
}
.ecobud-fix{
	background: #029946;
}
.ready-fix{
	background: #da251d;
}
.dropdown-toggle::after {
	display: none;

}
.nav__showmenu {
	position: relative;
	z-index: 3;
	display: inline-block;
	margin-left:  5px;
	padding: 0px 10px 6px;
	top: 2px;
	border: none;
	font-size: 26px;
	color: #000;
	background: none;
	font-weight: 400;
	cursor: pointer;
}
.nav__showmenu:focus{
	outline: none;
}
.burger-drop{
	border-radius: 0;
}
.burger-drop a.dropdown-item{
	font-weight: 400;
	font-size: 14px;

}
.burger-drop a.dropdown-item:hover{
	background: #f0f0f0
}
.phone-hide{
	position: absolute;
	background: #fff;
	border: 1px solid #eee;
	display: none;
}
.phone-hide a:first-child{
	padding: 15px 20px 10px;
}
.phone-hide a:last-child{
	padding: 0px 20px 15px;
}
.form-inline {
	position: relative;
}
.mobile-main-btn{
	display: none;
}
.dropdown-menu:after,.dropdown-menu:before{
	content: '';
	border: solid transparent;
	position: absolute;
	left: 20%;
	margin-left: -9px;
	top: -19px;
	width: 0;
}
.dropdown-menu:before{
	border-bottom-color:rgba(0,0,0,.15);
	border-width: 9px;
}
.dropdown-menu:after{
	border-bottom-color: #fff;
	border-width: 11px;
	margin-left: -11px;
}
.phone-hide:after,.phone-hide:before{
	content: '';
	border: solid transparent;
	position: absolute;
	left: 80%;
	margin-left: -9px;
	top: -19px;
	width: 0;
}
.phone-hide:before{
	border-bottom-color:#eee;
	border-width: 9px;
}
.phone-hide:after{
	border-bottom-color: #fff;
	border-width: 11px;
	margin-left: -11px;
}

/*--------------nav-end-------------*/
/*---------------main---------------*/
.main-nav-mobile{
	display: none;
}
.main-nav{
	font-weight: 700;
	text-transform: uppercase;
}
.main-nav .nav li{
	padding-right: 0px;
	padding-left: 0px;
	background: #da251d;
	border-right: 1px solid #f0514a;
}
.main-nav .nav li:hover{
	background: #ba1711;
}
.main-nav .nav li:last-child{
	border-right: none;
}
.main-nav .nav-link{
	padding-top: 17px;
	padding-bottom: 17px;
	color: #fff;
	font-size: 15px;
}
.main-nav .nav li.catalog-item{
	text-align: left;
	background: #ba1711;
}
.catalog-item span{
	float: right;

}
.doc-drop{
	position: relative;
}
.doc{
	border: 1px solid #eee;
	position: absolute;
	z-index: 9999999;
	width: 100%;
}
.doc ul li.doc-item{
	background: #fff;
	width: 100%;
	padding: 0.76rem 0.4rem 0.76rem 1rem;
}
.doc ul li.doc-item:hover{
	background: #f0f0f0;
}
.doc ul li.doc-item a.doc-link{
	color: #000;
	width: 100%;
}
.doc ul li.doc-item a.doc-link:hover{
	background: #fff;
	color: #000;
}
/*-------------main-end-------------*/
/*---------------sidebar---------------*/
.sidebar .nav-link{
	text-transform: none;
	font-size: 15px;
	padding: 0.9rem 0.4rem 0.9rem 1.4rem;
	box-sizing: border-box;
}
.sidebar .nav-border .nav-link:hover{
	padding-left: 1.28rem;
}
.catalog-item a.nav-link {
	padding-left: 1.4rem;
}
.sidebar .nav-item{
	border:1px solid #d9d9d9;
	border-top: none;
	box-sizing: border-box;
	position: relative;
}
.sidebar .nav-border:hover{
	cursor: pointer;
	background: #f0f0f0;
	border-left: 3px solid #da251d;
}
.main .row{
	margin-left: 0px;
	margin-right: 0px;
}

.main .sidebar{
	padding-right: 0;
	padding-left: 0;
}
.rubric{
	margin-top: 20px;
	border: 1px solid #d9d9d9;
}
.rubric .h4{
	font-size: 20px;
	font-weight: 700;
}
.rubric-main{
	padding: 1.5rem 1rem;
}
.rubric-head{
	display: flex;
}
.rubric-head .h4{
	margin-bottom: 0;
}
.rubric-head a{
	font-size: 15px;
	color: #6a6a6a;
	text-decoration: underline;
}
.rubric-head a:hover{
	color: #da251d;
	text-decoration: none;
}
.rubric-content{
	display: flex;
	margin-top: 20px;
	font-size: 15px;
}
.rubric-content a{
	color: #000;
}
.rubric-content a{
	color: #000;
}
.rubric-logo{
	margin-right: 15px;
}
.rubric-after{
	border:1px solid #d9d9d9;
	border-top: none;
}
.rubric-after .h4{
	font-size: 20px;
	font-weight: 700;
}
.menu-addit{
	width: 87px;
	position: absolute;
	left: -3px;
	top: -7px;
	z-index: 1029;
	letter-spacing: 1px;

}
.menu-addit-text{
	font-size: 9px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
}
.ready-coat .menu-addit-text{
	background: #da251d;
}
.ready-coat{
	border-left: 3px solid #da251d!important;
}
.ecobud .menu-addit-text{
	background: #029946;
}
.ecobud{
	border-left: 3px solid #029946!important;
}
.protect{
	border-left: 3px solid #c02221!important;
}
.protect .menu-addit-text{
	background: #c02221;
}
.thermo .menu-addit-text{
	background: #fea729;
}
.thermo{
	border-left: 3px solid #fea729!important;
}
.turbo{
	border-left: 3px solid #8c4653!important;
}
.turbo .menu-addit-text{
	background: #8c4653;
}
.industry .menu-addit-text{
	background: #a52388;
}
.industry{
	border-left: 3px solid #a52388!important;
}
.restore{
	border-left: 3px solid #a68c77!important;
}
.restore .menu-addit-text{
	background: #a68c77;
}





/*-------------sidebar-end--------------*/
.main-content{
	padding-right: 0;
	margin-top: 20px;
	padding-left: 20px;
}
/*-------------main-slider-----------------*/
.slick-next {
	right: 22px;
	background: #da251d;
}
.slick-prev{
	left: 22px;
	z-index: 9999;
}
.prev{
	width: 44px;
	height: 44px;
	border: none;
	border-radius: 50%;
	background: #fff;
	display: block;
	color: #da251d;
	position: absolute;
	top: 50%;
	left: 22px;
	transform: translateY(-50%);
	z-index: 999;
	-webkit-box-shadow: 0px 4px 2px 0px rgba(50, 50, 51, 0.23);
	-moz-box-shadow: 0px 4px 2px 0px rgba(50, 50, 51, 0.23);
	box-shadow: 0px 4px 2px 0px rgba(50, 50, 51, 0.23);
}
.prev i{
	font-size: 30px;
	position: absolute;
	top: 18%;
	left: 29%
}
.prev:focus{
	outline: none;
}
.prev:hover{
	cursor: pointer;
	background: #da251d;
	color: #fff;
}
.next{
	width: 44px;
	height: 44px;
	border: none;
	border-radius: 50%;
	background: #fff;
	display: block;
	color: #da251d;
	position: absolute;
	right: 22px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 999;
	-webkit-box-shadow: 0px 4px 2px 0px rgba(50, 50, 51, 0.23);
	-moz-box-shadow: 0px 4px 2px 0px rgba(50, 50, 51, 0.23);
	box-shadow: 0px 4px 2px 0px rgba(50, 50, 51, 0.23);
}


.next i{
	font-size: 30px;
	position: absolute;
	top: 18%;
	right: 29%;

}
.next:focus{
	outline: none;
}
.next:hover{
	cursor: pointer;
	background: #da251d;
	color: #fff;
}
.main-slider{
	position: relative;
}
.slider-content{
	width: 76%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
.slider-page{
	width: 100%;
	display: flex;
	align-items: center;
	background-size: auto;
	background-position: center;
	position: relative;
}
h1{
	font-size: 48px;
	font-weight: 700;
	line-height: 40px;
}
h1 span{
	font-size: 24px;
}
a.more{
	display: inline-block;
	margin-top: 20px;
	color: #da251d;
	padding: 19px 40px;
	border: 1px solid #d9d9d9;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	-webkit-box-shadow: 1px 2px 4px 0px rgba(50, 50, 51, 0.23);
	-moz-box-shadow: 1px 2px 4px 0px rgba(50, 50, 51, 0.23);
	box-shadow: 1px 2px 4px 0px rgba(50, 50, 51, 0.23);
	background: #fff;
}
a.more:hover{
	text-decoration: none;
	outline: none;
	background: #efefef;
}
/*-------------main-slider-end--------------*/
/*---------------advantages-----------------*/
.advantages{
	margin-top: 25px;
	margin-bottom: 25px;
}
.advantages .row>div{
	padding-left: 0;
}
.adv-square{
	width: 60px;
	height: 60px;
	background: #da251d;
	border-radius: 5px;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 20px;
	text-align: center;
}
.adv-square p {
	font-size: 26px;
	line-height: 0.5;
	letter-spacing: 1px;
	padding-left: 4px;
	font-weight: 400;
}
.adv-square span{
	font-size: 10px;
	letter-spacing: 1px;
}
.adv-item{
	display: flex;
	flex-direction: row;
	align-items: center;
	font-weight: 700;
	font-size: 14px;
}
.adv-text{
	flex:1 2;
}

/*---------------advantages-end-------------*/
/*--------------------works-----------------*/
.works .row >div{
	padding: 1px;

}
.works-type{
	position: relative;
	height: 200px;
	overflow: hidden;
}
.works-type-shadow{
	opacity: 0;
	background-color: rgba(0,0,0,0.5);
	transition: opacity .8s cubic-bezier(.19,1,.22,1);
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	z-index: 2;
}
.works-type-shadow:hover{
	opacity: 100;
}
.works-photo{
	position: absolute;
	left: 0;
	vertical-align: middle;
	max-height: 200px;
	transition: .6s cubic-bezier(.19,1,.22,1);
	width: 100%;
	height: 100%;
}
.works-type-name{
	position: absolute;
	left: 25px;
	bottom: 25px;
	right: 25px;
	z-index: 2;
	font-size: 16px;
	font-weight: 700;
}
.works-type-name a{
	color: #fff;
}
.works-type-name a:hover{
	color: #fff;
	text-decoration: none;
}
.works-type:hover a img.works-photo{
	transform: scale(1.2);
}

/*----------------works-end----------------*/
/*------------------for-whom----------------*/

.for-whom .row>div:first-child{
	padding-right: 6px;
	padding-left: 0;
}
.for-whom .row>div:last-child{
	padding-left: 6px;
	padding-right: 0;
}
.for-whom .row>div{
	padding-left: 3px;
	padding-right: 3px;
}
.for-whom-item{
	overflow: hidden;
	width: 100%;
	position: relative;
	filter: grayscale(40%);
}
.for-whom-logo{
	width: 100%;
	z-index: 2;
	display: block;
}
.for-whom-gradient{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	box-shadow: 0px -80px 80px -10px rgba(0, 0, 0, 0.7) inset;
}
.for-whom-content{
	height: 100%;
	padding: 30px 10px 0px 30px;
	width: 100%;
	position: absolute;
	left: 0;
	top: 70%;
	color: #fff;
	z-index: 3;
	transition: 0.5s ease;
}
.for-whom-content .h4{
	margin-bottom: 30px;
	font-size: 16px;
	font-weight: 700;
}
.for-whom-content a{
	display: block;
	color: #fff;
	padding-top: 10px;
	font-size: 15px;
	font-weight: 400;

}
.for-whom-item:hover .for-whom-content{
	background: rgba(0,0,0,0.5);
	top: 0;
}
.for-whom-item:hover .for-whom-content .h4{
	margin-bottom: 15px;
}
/*----------------for-whom-end--------------*/
/*--------------------news------------------*/
.news {
	margin-top: 15px;
	margin-bottom: 15px;
}
.section-head{
	display: flex;
	justify-content: space-between;
	align-items: center;

}
.news .h3 span a{
	color: #da251d;
}
.slider-wrapper{
	overflow: hidden;
	//text-align:center;
}
.news-slider{
	margin-left: -5px;
	margin-right: -4px;
}
.news-item{
	width: 96%;
	margin: 0 auto;
	border: 1px solid #f3f3f3;
	display: block;
	cursor: pointer;
	color: #000;
	font-weight: 700;
}
.news-item img{
	width: 100%;
}
.news-item-text{
	padding: 30px 25px;
	text-align: left;
}
.news-item:hover{
	color: #000;
}
.news-topic a{
	font-weight: 700;
	font-size: 16px;
	color: #000;
}
.date-news{
	font-size: 10px;
	margin-top: 10px;
	color: #888;
}
.section-control{
	font-size: 0;
	margin-bottom: -10px;
}
.section-control-mobile{
	display: none;
}
.section-control button.sect-contr-prev,button.sect-contr-next{
	font-size: 15px;
	font-weight: 400;
	padding: 5px 13px;
	background: #fff;
	color: #777777;
	border: 1px solid #dadada;
}
.section-control button.sect-contr-prev:hover,button.sect-contr-next:hover{
	background: #f0f0f0;
	color: #da251d;
}
.section-control button.sect-contr-prev{
	border: 1px solid #dadada;
	border-right: none;
	outline: none;
	cursor: pointer;
	border-radius: 5px 0 0 5px;
}
.section-control button.sect-contr-next{
	outline: none;
	cursor: pointer;
	border-radius: 0 5px 5px 0;
}
/*--------------------news-end--------------*/
/*-----------------subscribe-----------------*/
.subscribe {
	padding: 30px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 30px;
	margin-bottom: 30px;
	background-size: cover;
}
.subscribe .row{
	width: 100%;
}
.subscribe-text .h5{
	font-size: 24px;
	font-weight: 700;
}
.subscribe-text p{
	font-size: 14px;
	margin-top: 10px;
}
.subscribe-form{
	font-size: 0px;
	text-align: right;

}
.subscribe-form .subscribe-form-input{
	font-size: 14px;
	width: 60%;
	padding: 15px 20px;
	border: none;
}
.subscribe-form .subscribe-form-input::placeholder{
	color: #b0b0b0;
}
.subscribe-form-btn{
	font-size: 14px;
	border: none;
	outline: none;
	width: 40%;
	text-align: center;
	padding: 12px 0 14px 0;
	background-color: #da251d;
	color: #fff;
	cursor: pointer;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.3s ease;
}
.subscribe-form-btn:hover{
	background: #ba1711;
}
.subscribe-form-btn:focus{
	outline: none;
}
/*----------------subscribe-end--------------*/
/*-------------------video-------------------*/
.videos{
	margin-top: 15px;
	margin-bottom: 15px;
}
.videos .h3 span a{
	color: #da251d;
}
.video-slider{
	margin-left: -5px;
	margin-right: -5px;
}
.video-item{
	width: 96%;
	box-sizing: border-box;
	margin: 0 auto;
	position: relative;
	height: 205px;
}
.logo-video{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.video-link{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	outline: none;

}
.video-link:hover{
	background: rgba(0,0,0,0.2);
}
.video-link:focus{
	outline: none;
}
.video-link:hover .video-link-name{
	color: #fff;
	text-decoration: underline;
}
.video-link-btn{
	margin-top: -15px;

}
.video-link-name{
	position: absolute;
	bottom: 25px;
	left: 25px;
	right: 25px;
	text-align: left;
}

/*--------------------video-end---------------*/
/*-------------------new-ones-----------------*/
.new-ones{
	margin-top: 15px;
	margin-bottom: 15px;
}
.new-ones .h3 span a{
	color: #da251d;
}
.new-ones-slider{
//  margin-left: -5px;
//	margin-right: -4px
}
.new-ones-item{
	width: 96%;
	height: 445px;
	box-sizing: border-box;
	margin: 0 auto;
	border: 1px solid #f3f3f3;
	position: relative;
	overflow: hidden;
	text-align: left;
}
.new-ones-logo{
	margin: 0 auto;
	margin-top: 20px;
}
.new-ones-item:hover .new-ones-content{
	top:0;
	background: rgba(0,0,0,0.7);
	color: #fff;
}
.new-ones-item:hover .new-ones-descr{
	color: #fff;
}
.new-ones-content{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 300px;
	left: 0;
	color: #000;
	padding: 20px 20px 0 20px;
	font-size: 14px;
	transition: .5s ease;
}
.new-ones-content ul li{
	list-style: square;

}
.new-ones-content ul{
	margin-top: 20px;
	padding-left: 17px;
}
.new-ones-content-btn{
	position: absolute;
	left: 0;
	bottom: 0;
	border-top: 2px solid #fff;
	width: 100%;
	font-size: 0;

}
.new-ones-content-btn img{
	display: inline;
}


/*
.compare{
	color: #fff;
	width: 50%;
	box-sizing: border-box;
	display: inline-block;
	text-align: center;
	padding: 15px 0;
	border-right: 1px solid #fff;
	font-size: 14px;
	font-weight: 700;
}
.compare span{
	position: relative;
	top: 1px;
	margin-right: 6px;
}

.compare:hover,.ones-more:hover{
	color: #fff;
	text-decoration: none;
	background:rgba(0,0,0,0.2);
}

*/

.ones-more{
	text-align: center;
	width: 50%;
	color: #fff;
	padding: 15px 0;
	box-sizing: border-box;
	display: inline-block;
	border-left: 1px solid #fff;
	font-size: 14px;
	font-weight: 700;
}
.ones-more span{
	position: relative;
	top: 3px;
	margin-right: 6px;
}

.new-ones-name{
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 10px;
}
.new-ones-name span{
	font-size: 16px;
	text-transform: uppercase;
}
.new-ones-descr{
	font-size: 12px;
	text-transform: uppercase;
	margin-bottom: 20px;
	color: #909090;
	transition: .6s ease;
}
/*-------------------new-ones-end-------------*/
/*-------------------feedback-----------------*/
.feedback{
	margin-top: 60px;
	width: 100%;
	height: 390px;
	position: relative;
}
.feedback-content{
	padding-top: 90px;
}
.feedback .h2{
	font-size: 48px;
	line-height: 52px;
//	font-family: 'RoundedMplus1c-ExtraBold';
	font-family: $font-family-second;
	font-weight: 900;
}
.feedback .h4{
	//	font-family: 'RoundedMplus1c-ExtraBold';
	font-family: $font-family-second;
	font-size: 30px;
	font-weight: 900;
	padding-top: 15px;
}

.feedback p{
//	font-family: 'RoundedMplus1c-Regular';
	font-family: $font-family-second;
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 32px;
}
.man{
	position: absolute;
	bottom: 0;
	left: 390px;
}
.feedback .btn:first-child{
	padding-left: 0!important;
}
.feedback .btn:last-child {
	padding-left: 0!important;
}
.btn a{
	display: block;
//	font-family: 'RoundedMplus1c-Bold';
	font-family: $font-family-second;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
}
.btn a.study{
	padding: 20px 0;
	background-color: #fff;
	color: #e21d23;
	transition: 0.3s ease;
	box-shadow: 1px 2px 4px 0px rgba(50, 50, 51, 0.23);
}
.btn a.study:hover{
	background: #efefef;
	text-decoration: none;
}
.btn a.question{
	padding: 20px 0;
	background-color: #e21d23;
	color: #fff;
	transition: 0.3s ease;
	box-shadow: 1px 2px 4px 0px rgba(50, 50, 51, 0.23);

}
.btn a.question:hover{
	background: #ba1711;
	text-decoration: none;
}
.btn-entry{
	text-align: right;
}
/*-------------------feedback-end-------------*/
/*---------------------footer-----------------*/

.footer-nav li.nav-item{
	border: 1px solid #f1f1f1;
	border-right: none;
}
.footer-nav li.nav-item a.nav-link{
	padding: 20px 0;
	font-size: 15px;
	font-weight: 700;
//	font-family: 'RoundedMplus1c-Bold';
	font-family: $font-family-second;
}
footer .navbar{
	padding: 30px 0;
}
.social{
	display: flex;
	flex-direction: row;
}
.social-link{
	width: 44px;
	height: 44px;
	background: #fff;
	border-radius: 50%;
	border: none;
	display: flex;
	align-items: center;
	text-align: center;
	color: #e21d23;
	cursor: pointer;
	box-shadow: 0px 1px 6px 0px rgba(50, 50, 51, 0.5);
}
.social-link span.calc{
	color: #e21d23;
}
.social-link:hover{
	background: #e21d23;
}
.social-link:hover span.calc{
	color: #fff;
}
.footer-rights{
	border-top: 1px solid #f1f1f1;
	padding: 25px 0;
	font-size: 13px;
}
.click{
	text-align: right;
}
.click a{
	color:#000;
	text-decoration: underline;
}

/*------------header hamburger X--------------------*/
.c-hamburger {
	display: block;
	position: relative;
	overflow: hidden;
	margin: 0px 0px 0px 0px;
	padding: 0;
	width: 44px;
	height: 44px;
	font-size: 0;
	text-indent: -9999px;
	appearance: none;
	box-shadow: none;
	border: none;
	cursor: pointer;
	transition: background 0.3s;
	border-radius: 50%;
	background: #f0f0f0!important;
}

.c-hamburger:focus {
	outline: none;
}
.c-hamburger span {
	display: block;
	position: absolute;
	top: 21px;
	left: 11px;
	right: 11px;
	height: 4px;
	background: #565656;
}

.c-hamburger span::before,
.c-hamburger span::after {
	position: absolute;
	display: block;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: #565656;
	content: "";
}

.c-hamburger span::before {
	top: -7px;
}

.c-hamburger span::after {
	bottom: -7px;
}
.c-hamburger--htx {
	background-color: rgba(56,56,56,0);
}


.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
	transition-duration: 0.3s, 0.3s;
	transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
	transition-property: top, transform;
}

.c-hamburger--htx span::after {
	transition-property: bottom, transform;
}

/* состояние active при открытом меню  */
.c-hamburger--htx.is-active {
	background-color: none;
}

.c-hamburger--htx.is-active span {
	background: none;
}

.c-hamburger--htx.is-active span::before {
	top: 0;
	transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
	bottom: 0;
	transform: rotate(-45deg);
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
	transition-delay: 0s, 0.3s;
}
/*------------header hamburger X-end --------------------*/
/*-------------------footer--nav--------------*/
/*--------------------media-------------------*/
@media screen and (max-width: 1440px){
	.scroll-up-btn{
		right: 11%;
	}
}
@media screen and (max-width: 1199px){
	.phone-hide{
		display: block;
		right: 0px;
		top: 60px;
		z-index: 999099999999999;
	}
	.phone-main{
		display: none;
	}
	.input-group{
		margin-right: 0px;
		max-width: 160px;
	}

	.navbar-expand-lg .navbar-nav .nav-link {
		padding-right: 7px;
		padding-left: .5rem;
	}
	.for-whom-content {
		top: 61%;
	}
	.for-whom-item {
		height: 243px;
	}
	input.search-pr{
		padding: 21px 0 21px 7px;
	}
}
@media screen and (max-width: 991px){
	.mobile-main-btn{
		display: block;
	}
	.navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid {
		padding-right: 15px;
		padding-left: 15px;
	}
	.nav-btn-group{
		display: none;
	}
	.nav-scroll{
		display: none;
	}
	.main-nav .nav-item{
		flex: 1 1 100%;
		text-align: left;
		border-top: 1px solid #f0514a;
	}
	.main-nav .sidebar{
		width: 100%;
	}
	.main-nav .sidebar .nav-item{
		width: 100%;
		background: #fff;
		border-right: 1px solid #d9d9d9;
		border-left: 1px solid #d9d9d9;
		border-top:none;
	}
	.main-nav .sidebar .nav-item .nav-link{
		background: #fff;
		color: #000;
		font-weight: 400;
		font-size: 15px;
		border-radius: 0;
	}
	.main-nav .sidebar .nav-item .nav-link:hover{
		padding-left: 1.4rem;
	}
	.main .sidebar{
		display: none;
	}
	.main-nav{
		display: none;
	}
	.main-nav-mobile{
		display: block!important;
	}
	.input-group{
		max-width: 100%;
	}
	.navbar-nav .nav-item .nav-link{
		border: 1px solid #f0f0f0;
		border-bottom: none;
		padding-top: 17px;
		padding-bottom: 17px;
		font-size: 15px;
	}
	.input-group {
		border: 1px solid #f0f0f0;
		border-bottom: none;
		padding-top: 10px;
		padding-bottom: 10px;

	}
	.main-nav .nav li.catalog-item {
		text-align: left;
		background: #da251d;
	}
	.main-nav .nav li.catalog-item:active{
		background: #ba1711;

	}
	.main-nav .nav li.catalog-item:focus{
		background: #ba1711;

	}
	.main-content{
		padding-left: 0px;
		margin-top: 0;
	}
	.next{
		right: 15px;
	}
	.prev{
		left: 15px;
	}
	.advantages {
		margin-top: 40px;
		margin-bottom: 40px;
	}
	.advantages .row>div{
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.navbar-expand-lg .navbar-nav .nav-link {
		padding-right: 15px;
		padding-left: 15px;
	}
	div#navbarSupportedContent {
		margin-bottom: 20px;

	}
	input.form-control.search-pr {
		margin-left: 10px;
	}
	.input-group-append {
		margin-right: 15px;
	}
	input.search-pr {
		padding: 23px 0px 23px 20px;
	}
	.scroll-up-btn{
		right: 6%;
	}
	.man{
		left: 260px;
	}
}
@media screen and (max-width: 767px){
	.for-whom .row>div{
		padding: 1px 0!important;
	}
	.for-whom-content {
		top: 68%;
	}
	.for-whom-item {
		height: 292px;
		width: 100%;
		margin: 0 auto;
	}
	.slider-wrapper {
		overflow: visible;
	}
	.news-item{
		width: 98%;
	}
	.video-item{
		width: 98%;
	}
	.new-ones-item{
		width: 98%;
	}
	.section-control{
		display: none;
	}
	.section-control-mobile{
		display: inline-block;
		margin-bottom: 0;
		margin-top: 20px;
	}
	.h3{
		width: 100%;
		display: flex;
		align-items: center;
	}
	.h3 span{
		display: inline-block;
		margin-left: auto;
		align-self: center;
		justify-self:end;
	}
	.subscribe-form{
		margin-top: 25px;
	}
	.subscribe-form {
		width: 100%;
		margin-bottom: 15px;
	}
	.footer-nav{
		display: none;
	}
	footer .navbar .navbar-brand{
		padding-right: 0px;
	}
	.phone-footer{
		padding-right: 15px;
	}
	.footer-wrap{
		padding: 0 15px;
	}
}
@media screen and (max-width: 575px){
	.navbar{
		padding-left: 0px;
		padding-right: 0px;
	}
	h1{
		margin-top: 30px;
		font-size: 38px;
	}

	a.more{
		padding:14px 30px;
		margin-bottom: 30px;
		background: #fff;
	}
	.slider-content{
		width: auto;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		text-align: center;
	}
	.main .container{
		padding-left: 0;
		padding-right: 0;
	}
	.advantages{
		padding: 0 15px;
	}
	.works-type{
		height: 165px;
	}
	.works-type-name {
		bottom: 10px;
	}
	.subscribe-form{
		margin-top: 25px;
	}
	.subscribe-form .subscribe-form-input {
		width: 100%;
		margin-bottom: 15px;
	}
	.subscribe-form-btn {
		width: auto;
		padding: 14px 20px 14px 20px;
	}
	.feedback .h2 {
		font-size: 35px;
	}
	.feedback .h4 {
		font-size: 24px;
		padding-top: 15px;
	}
	.question-mobile{
		max-width: 100%;
		flex: 0 0 100%;
	}
	.feedback{
		height: 450px;
	}
	.feedback .container-fluid{
		padding-right: 0;
		padding-left: 0;
	}
	.feedback-content {
		padding-top: 30px;
	}
	.btn-entry{
		text-align: left;
	}
	.ques-bt{
		padding: 0;
		margin-top: 10px;
		width: 60%;
	}
	.man {
		position: absolute;
		bottom: 0;
		left: 127px;
	}
	.h3{
		padding: 0 15px;
	}
	.news-item{
		width: auto;
		margin: 0 20px;
	}
	.video-item {
		width: auto;
		margin: 0 20px;
	}
	.new-ones-item{
		width: auto;
		margin: 0 20px;
	}

}
@media screen and (max-width: 500px){
	.navbar-brand{
		width: 102px;
	}
	.navbar-brand img{
		max-width: 100%;
	}

	.man{
		bottom: -48px
	}
	.feedback{
		overflow: hidden;
	}
}

@media screen and (max-width: 360px){
	.ques-bt{
		width: 80%;
	}
	.for-whom-item{
		width: auto;
	}
	.func-btn-phone{
		display: none;
	}

}
@media (min-width: 1200px) {
	.container {
		max-width: 1200px;
	}
}



