.product {
	margin-bottom: 50px;

	&__gallery {
		font-size: 0;
		line-height: 0;
		text-align: center;
		margin-bottom: 30px;
		border: 1px solid #d6d6d6;
		padding: 30px 20px 20px 20px;

		&_item {
			border: none;
			outline: none;
			margin-bottom: 15px;

			a {
				border: none;
				outline: none;
				margin: 0 auto;
				position: relative;
				display: inline-block;

				&:before {
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					content: '';
					opacity: 0;
					visibility: hidden;
					position: absolute;
					background: rgba(255,255,255,0.7) url("../img/icon__loop.png") 50% 50% no-repeat;
					@include transition(0.3s);
				}

				&:hover {

					&:before {
						opacity: 1;
						visibility: visible;
						@include transition(0.3s);
					}
				}
			}
		}

		.slick-dots {

			li {
				margin: 0;
				opacity: 1;
				width: 16px;
				height: 16px;

				button {
					opacity: 1;
					width: 16px;
					height: 16px;
					position: relative;

					&:before {
						top: 50%;
						left: 50%;
						width: 8px;
						height: 8px;
						content: '';
						opacity: 1;
						position: absolute;
						background: #dddddd;
						margin: -4px 0 0 -4px;
						@include border-radius(50%);
					}
				}

				&.slick-active {

					button {

						&:before {
							background: $color-red;
						}
					}
				}
			}
		}
	}

	&__params {
		margin: 0;
		padding: 0;
		list-style: none;
		@include flexbox();
		@include flex-wrap(wrap);
		@include justify-content(space-between);

		> li {
			width: 100%;
			font-size: 12px;
			line-height: 16px;
			margin-bottom: 30px;
			@include flexbox();

			i {
				width: 40px;
				display: inline-block;
			}

			span {
				margin: auto 0;
				display: inline-block;
			}
		}

		&_text {
			padding-left: 10px;
			@include flexbox();
			@include align-items(center);
			@include flex-direction(column);
		}
	}

	&__weight {
		padding: 15px 20px;
		background: #f0f0f0;
		@include flexbox();
		margin-bottom: 25px;
		@include align-items(center);

		&_title {
			font-size: 14px;
			font-weight: 700;
			line-height: 20px;
		}

		&_value {
			width: 35px;
			height: 41px;
			color: #fff;
			font-size: 0;
			line-height: 0;
			padding-top: 18px;
			text-align: center;
			margin-left: 10px;
			background: url("../img/goods/icon__dumbbell.png") 50% 50% no-repeat;

			span {
				display: block;
				font-size: 10px;
				font-weight: 700;
				line-height: 8px;
			}

			strong {
				display: block;
				font-size: 13px;
				font-weight: 700;
				line-height: 10px;
			}
		}
	}

	&__button {
		padding: 0;
		font-size: 0;
		line-height: 0;
		margin: 0 -5px;
		list-style: none;
		@include flexbox();

		> li {
			padding: 0 5px;
		}
	}

	&__block {
		font-size: 15px;
		line-height: 25px;
		margin-bottom: 45px;
	}

	&_readmore {
		line-height: 17px;
		color: $color-red;
		text-decoration: none;
		display: inline-block;
		padding-right: 10px;
		background: url("../img/goods/icon__angle_right.svg") 100% 50% no-repeat;

		span {
			border-bottom: 1px dotted $color-red;
		}

		&:hover {
			color: $color-red;
			text-decoration: none;

			span {
				border-bottom-color: transparent;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		&__params {

			> li {
				width: calc(50% - 10px);
			}
		}
	}

	@media (min-width: $screen-md-min) {
		@include flexbox();
		@include justify-content(space-between);

		&__gallery {
			width: calc(50% - 15px);
			margin-bottom: 0;
		}

		&__info {
			width: calc(50% - 15px);
		}

		&__params {

			> li {
				width: 100%;
				margin-bottom: 17px;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		&__params {

			> li {
				width: 100%;
				margin-bottom: 16px;
			}
		}
	}

	@media (min-width: $screen-xl-min) {


		&__gallery {
			width: 300px;
			padding: 15px 20px 10px 20px;

			&_item {
				margin-bottom: 20px;

				a {
					width: 200px;
				}
			}
		}

		&__info {
			width: 530px;
		}

		&__params {

			> li {
				margin-bottom: 30px;
				width: calc(50% - 10px);
			}
		}
	}
}

.btn_compare {
	width: 40px;
	height: 40px;
	outline: none;
	font-size: 0;
	line-height: 0;
	padding: 11px 0;
	text-align: center;
	position: relative;
	display: inline-block;
	text-decoration: none;
	border: 1px solid $color-red;

	i {
		width: 14px;
		height: 15px;
		display: inline-block;
	}

	.ico-svg {
		fill: $color-red;
	}

	&:hover {
		text-decoration: none;
		background: $color-red;

		.ico-svg {
			fill: #fff;
		}
	}
}

.btn_calc {
	width: 40px;
	height: 40px;
	outline: none;
	font-size: 0;
	line-height: 0;
	padding: 9px 0;
	text-align: center;
	position: relative;
	display: inline-block;
	text-decoration: none;
	background: #fff url("../img/goods/icon__count.png") 50% 50% no-repeat;
	border: 1px solid $color-red;

	&:hover {
		text-decoration: none;
		background-color: $color-red;

	}
}

.btn_purchase {
	height: 40px;
	outline: none;
	font-size: 0;
	line-height: 0;
	color: #000;
	padding: 10px 20px 8px 20px;
	text-align: center;
	position: relative;
	text-decoration: none;
	border: 1px solid $color-red;
	@include flexbox();

	i {
		width: 12px;
		height: 17px;
		margin-top: 2px;
		margin-right: 10px;
		display: inline-block;
	}

	span {
		font-size: 16px;
		font-weight: 700;
		line-height: 18px;
		display: inline-block;
	}

	.ico-svg {
		fill: $color-red;
	}

	&:hover {
		color: #fff;
		text-decoration: none;
		background: $color-red;

		.ico-svg {
			fill: #fff;
		}
	}
}

.product_tabs {
	overflow: hidden;
	margin-bottom: 30px;
	border: 1px solid #d9d9d9;
	@include border-radius(3px);

	&__nav {
		margin-right: -1px;
		@include flexbox();
		@include flex-wrap(wrap);

		> li {
			width: 50%;

			&:nth-child(5),
			&:nth-child(6),
			&:nth-child(7) {
				width: 33.33%;
			}

			a {
				color: #000;
				width: 100%;
				font-size: 12px;
				font-weight: 700;
				line-height: 20px;
				padding: 10px 10px;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				text-transform: uppercase;
				border-right: 1px solid #d9d9d9;
				border-bottom: 1px solid #d9d9d9;

				&:hover {
					color: $color-red;
					text-decoration: none;
				}
			}

			&.active {

				a {
					color: $color-red;
				}
			}
		}
	}

	&__content {
		padding: 25px;
	}

	&__item {
		display: none;

		&.active {
			display: block;
		}
	}

	@media (min-width: $screen-sm-min) {

		&__nav {

			> li {

				&:nth-child(1),
				&:nth-child(2),
				&:nth-child(3) {
					width: 33.33%;
				}

				&:nth-child(3) {

					a {
						border-right: none;
					}
				}


				&:nth-child(4),
				&:nth-child(5),
				&:nth-child(6),
				&:nth-child(7) {
					width: 25%;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {

	}

	@media (min-width: $screen-lg-min) {

	}

	@media (min-width: $screen-xl-min) {

		&__nav {

			> li {
				width: auto;
				@include flex-grow(1);

				&:nth-child(1),
				&:nth-child(2),
				&:nth-child(3),
				&:nth-child(4),
				&:nth-child(5),
				&:nth-child(6),
				&:nth-child(7) {
					width: auto;
				}

				&:nth-child(3) {

					a {
						border-right: 1px solid #d9d9d9;
					}
				}
			}
		}
	}
}

.slide_box {
	overflow: hidden;
}

.slider_border {
	position: relative;

	&:after,
	&:before {
		top: 0;
		bottom: 0;
		width: 1px;
		content: '';
		z-index: 100;
		display: block;
		position: absolute;
		background: #f3f3f3;
	}

	&:after {
		left: 0;
	}

	&:before {
		right: 0;
	}
}