.options {
	padding: 0;
	font-size: 0;
	line-height: 0;
	list-style: none;
	margin: 0 -5px 20px -5px;
	@include flexbox();
	@include flex-wrap(wrap);

	> li {
		width: 100%;
		padding: 0 5px;
		margin-bottom: 20px;
	}

	@media (min-width: $screen-md-min) {

		> li {
			width: 33.33%;

			&:nth-child(1) {
				width: 66.66%;
			}
		}
	}

	@media (min-width: $screen-xl-min) {
		@include flex-wrap(nowrap);

		> li {
			width: auto;
			@include flex(1 1 auto);

			.select_single {
				width: 250px;
			}
		}
	}
}

.select_single {
	width: 100%;
	z-index: 20;
	font-size: 0;
	line-height: 0;
	position: relative;
	display: inline-block;

	&__label {
		width: 100%;
		cursor: pointer;
		max-width: 100%;
		position: relative;
		display: inline-block;
		border: 1px solid #c4c4c4;
		padding: 10px 30px 10px 10px;

		span {
			color: #000;
			font-size: 13px;
			line-height: 19px;
			overflow: hidden;
			max-width: 100%;
			white-space: nowrap;
			display: inline-block;
		}

		i {
			top: 50%;
			color: #000;
			right: 10px;
			font-size: 14px;
			line-height: 14px;
			position: absolute;
			margin-top: -7px;
			@include transition(.3s);
		}

		&:hover {
			border-color: $color-red;
		}
	}

	&__item {
		width: 100%;
		font-weight: 400;
		display: inline-block;

		input {
			display: none;
		}

		span {
			width: 100%;
			max-width: 100%;
			font-size: 13px;
			cursor: pointer;
			overflow: hidden;
			line-height: 14px;
			padding: 12px 10px;
			display: inline-block;

			&:hover {
				color: #fff;
				background: $color-red;
			}
		}
	}

	&__dropdown {
		top: 100%;
		left: 0;
		z-index: 100;
		opacity: 0;
		visibility: hidden;
		background: #fff;
		min-width: 100%;
		margin-top: 10px;
		position: absolute;
		border: 1px solid #c4c4c4;

		&:before {
			top: -7px;
			left: 16px;
			width: 13px;
			height: 7px;
			content: '';
			position: absolute;
			display: inline-block;
			background: url("../img/icon__select.png") 0 0 no-repeat;
		}
	}

	&.active {
		z-index: 50;

		.select_single__label {
			border-color: $color-red;

			i {
				@include rotate(180deg);
				@include transition(.3s);
			}
		}

		.select_single__dropdown {
			opacity: 1;
			visibility: visible;
		}
	}
}

.select_multiple {
	width: 100%;
	z-index: 20;
	font-size: 0;
	line-height: 0;
	position: relative;
	display: inline-block;

	&__label {
		width: 100%;
		cursor: pointer;
		max-width: 100%;
		position: relative;
		border: 1px solid #c4c4c4;
		padding: 10px 30px 10px 10px;
		@include flexbox();

		&_text {
			color: #000;
			font-size: 13px;
			line-height: 19px;
			overflow: hidden;
			white-space: nowrap;
			max-width: calc(100% - 20px);
			display: inline-block;
		}

		&_value {
			color: #000;
			font-size: 13px;
			line-height: 19px;
			display: inline-block;

			&:before {
				content: '(';
				margin-left: 5px;
			}

			&:after {
				content: ')';
			}
		}

		i {
			top: 50%;
			color: #000;
			right: 10px;
			font-size: 14px;
			line-height: 14px;
			position: absolute;
			margin-top: -7px;
			@include transition(.3s);
		}

		&:hover {
			border-color: $color-red;
		}
	}

	&__item {
		width: 100%;
		font-weight: 400;
		padding: 9px 10px;
		display: inline-block;

		input {
			display: none;
		}

		span {
			width: 100%;
			max-width: 100%;
			font-size: 13px;
			cursor: pointer;
			overflow: hidden;
			line-height: 14px;
			position: relative;
			padding: 3px 0 3px 30px;
			display: inline-block;

			&:before {
				top: 0;
				left: 0;
				z-index: 5;
				content: '';
				width: 20px;
				height: 20px;
				display: block;
				position: absolute;
				border: 1px solid #d3d3d3;
			}

			&:after {
				top: 0;
				left: 0;
				opacity: 0;
				z-index: 10;
				content: '';
				width: 20px;
				height: 20px;
				display: block;
				visibility: hidden;
				position: absolute;
				background: url("../img/icon__checkbox.png") 50% 50% no-repeat;
			}

			&:hover {
				color: $color-red;
			}
		}

		input:checked + span {

			&:before {
				background: $color-red;
				border-color: $color-red;
			}

			&:after {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	&__dropdown {
		top: 100%;
		left: 0;
		z-index: 100;
		opacity: 0;
		visibility: hidden;
		background: #fff;
		min-width: 100%;
		margin-top: 10px;
		position: absolute;
		border: 1px solid #c4c4c4;

		&:before {
			top: -7px;
			left: 16px;
			width: 13px;
			height: 7px;
			content: '';
			position: absolute;
			display: inline-block;
			background: url("../img/icon__select.png") 0 0 no-repeat;
		}
	}

	&__close {
		top: 0;
		right: 0;
		width: 20px;
		height: 20px;
		z-index: 30;
		cursor: pointer;
		position: absolute;
		display: inline-block;
		background: url("../img/delete.png") 50% 50% no-repeat;
	}

	&.active {
		z-index: 50;

		.select_multiple__label {
			border-color: $color-red;

			i {
				@include rotate(180deg);
				@include transition(.3s);
			}
		}

		.select_multiple__dropdown {
			opacity: 1;
			visibility: visible;
		}
	}
}

.main_filter {
	padding: 15px 0;
	margin-bottom: 13px;
	border-top: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
	@include flexbox();
	@include justify-content(space-between);

	&__show {
		@include flexbox();
	}

	&__select {
		width: 65px;
		margin: 0 15px;
	}

	&__legend {
		color: #000;
		height: 35px;
		padding: 8px 0;
		font-size: 15px;
		line-height: 19px;
		display: inline-block;

		&.hide-xs {
			display: none;
		}
	}

	&__view {
		font-size: 0;
		line-height: 0;
		@include flexbox();

		a {
			width: 37px;
			height: 35px;
			margin-left: 4px;
			text-align: center;
			display: inline-block;
			border: 1px solid #e3e3e3;

			&:first-child {
				padding: 6px 0;

				i {
					height: 21px;
					width: auto;
					display: inline-block;
				}
			}

			&:last-child {
				padding: 10px 0;

				i {
					height: 12px;
					width: auto;
					display: inline-block;
				}
			}

			.ico-svg {
				fill: #000;
			}

			&:hover {
				background: $color-red;
				border-color: $color-red;

				.ico-svg {
					fill: #fff;
				}
			}

			&.active {
				background: $color-red;
				border-color: $color-red;

				.ico-svg {
					fill: #fff;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {


		&__legend {

			&.hide-xs {
				display: inline-block;
			}
		}
	}
}

.showcase {
	margin: 0 -7px;
	@include flexbox();
	@include flex-wrap(wrap);

	&__col {
		width: 100%;
		padding: 10px 7px;
	}

	&.showcase_list {

		.showcase__col {
			width: 100%;
		}
	}

	@media (min-width: $screen-md-min) {

		&__col {
			width: 50%;
		}

		&.showcase_list {

			.showcase__col {
				width: 100%;
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		&__col {
			width: 33.33%;
		}

		&.showcase_list {

			.showcase__col {
				width: 100%;
			}
		}
	}
}

.goods {
	height: 450px;
	overflow: hidden;
	position: relative;
	border: 1px solid #f3f3f3;

	&__image {
		padding: 20px 10px 0 10px;

		.img-fluid {
			margin: 0 auto;
		}
	}

	&__content {
		left: 0;
		bottom: 0;
		color: #000;
		width: 100%;
		font-size: 14px;
		line-height: 21px;
		position: absolute;
		@include flexbox();
		@include flex-direction(column);
		@include transition(.4s);
	}

	&__data {
		padding: 20px 20px 0 20px;
		@include flex-grow(1);

		&_name {
			height: 54px;
			font-size: 18px;
			font-weight: 700;
			overflow: hidden;
			line-height: 27px;
			margin-bottom: 10px;

			strong {
				display: block;
				font-size: 16px;
				text-transform: uppercase;
			}

			span {
				display: block;
			}
		}

		&_type {
			display: none;
			color: #909090;
			font-size: 12px;
			line-height: 18px;
			margin-bottom: 20px;
			text-transform: uppercase;
		}

		&_text {
			display: none;
			margin-bottom: 20px;
		}

		&_info {
			margin: 0;
			padding: 0;
			display: none;
			list-style-type: square;

			> li {
				padding-left: 20px;
				position: relative;

				&:before {
					left: 0;
					top: 8px;
					width: 5px;
					height: 5px;
					content: '';
					background: #000;
					position: absolute;
					display: inline-block;
				}
			}
		}
	}

	&__action {
		border-top: 2px solid #f3f3f3;
		@include flexbox();
	}

	&__button {
		width: 50%;
		color: #000;
		outline: none;
		font-weight: 700;
		font-size: 14px;
		line-height: 20px;
		text-align: center;
		padding: 15px 5px;
		display: inline-block;
		text-decoration: none;

		span {
			position: relative;
			display: inline-block;

			&:before {
				left: 0;
				top: 2px;
				content: '';
				height: 16px;
				position: absolute;
				display: inline-block;
				background: url("../img/goods__button_icon.png") 0 0 no-repeat;
			}
		}

		&:hover {
			color: #000;
			text-decoration: none;
		}

		&_compare {
			border-right: 1px solid #f3f3f3;

			span {
				padding-left: 20px;

				&:before {
					width: 15px;
					background-position: 0 0;
				}
			}
		}

		&_view {
			border-left: 1px solid #f3f3f3;

			span {
				padding-left: 23px;

				&:before {
					width: 18px;
					background-position: -15px 0;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {

		&_list {
			height: auto;
			@include flexbox();

			.goods__image {
				width: 240px;
				padding-top: 30px;
				@include flex-shrink(0);
			}

			.goods__content {
				top: auto;
				right: auto;
				left: auto;
				bottom: auto;
				padding: 20px 15px;
				position: relative;
				@include flex-grow(1);
				@include flex-direction(row);
				@include transition(0s);
			}

			.goods__data {
				padding: 0 15px 0 0;

				&_type {
					color: #a3a3a3;
					display: block;
				}

				&_text {
					color: #a3a3a3;
					display: block;
				}

				&_info {
					color: #a3a3a3;
					display: block;

					li {

						&:before {
							background: #a3a3a3;
						}
					}
				}
			}

			.goods__action {
				width: 150px;
				border-top: none;
				@include flex-shrink(0);
				@include flex-direction(column);
			}

			.goods__button {
				width: 100%;
				margin-bottom: 12px;
				border: 1px solid #d9d9d9;

				&:hover {
					color: #fff;
					background: #000;
					border-color: #000;
				}

				&_compare {

					&:hover {

						span {

							&:before {
								background-position: 0 -16px;
							}
						}
					}
				}

				&_view {

					&:hover {

						span {

							&:before {
								background-position: -15px -16px;
							}
						}
					}
				}
			}
		}
	}


	@media (min-width: $screen-lg-min) {

		&__content {
			top: 310px;
			bottom: auto;
			height: 100%;
		}

		&__data {

			&_type {
				display: block;
			}

			&_text {
				display: block;
			}

			&_info {
				display: block;
			}
		}

		&:hover {

			.goods__content {
				top: 0;
				color: #fff;
				background: rgba(0,0,0,0.8);
				@include transition(.4s);
			}

			.goods__data_type {
				color: #fff;
			}

			.goods__data_info {

				> li {

					&:before {
						background: #fff;
					}
				}
			}

			.goods__action {
				border-top-color: #fff;
			}

			.goods__button {
				color: #fff;

				&:hover {
					color: #fff;
				}

				&_compare {
					border-right-color: #fff;

					span {

						&:before {
							background-position: 0 -16px;
						}
					}
				}

				&_view {
					border-left-color: #fff;

					span {

						&:before {
							background-position: -15px -16px;
						}
					}
				}
			}
		}

		&_list {

			&:hover {

				.goods__content {
					top: auto;
					color: #000;
					background: transparent;
				}

				.goods__data_type {
					color: #909090;
				}

				.goods__data_info {

					> li {

						&:before {
							background: #a3a3a3;
						}
					}
				}

				.goods__action {
					border-top-color: transparent;
				}

				.goods__button {
					color: #000;

					&:hover {
						color: #fff;
					}

					&_compare {
						border-right-color: #d9d9d9;

						span {

							&:before {
								background-position: 0 0;
							}
						}

						&:hover {

							span {

								&:before {
									background-position: 0 -16px;
								}
							}
						}
					}

					&_view {
						border-left-color: #d9d9d9;

						span {

							&:before {
								background-position: -15px 0;
							}
						}

						&:hover {

							span {

								&:before {
									background-position: -15px -16px;
								}
							}
						}
					}
				}
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		&_list {

			.goods__image {
				width: 260px;
			}

			.goods__content {
				padding: 40px 60px 30px 20px;
			}
		}
	}
}