h1,
.h1 {
	padding: 0;
//	max-width: 600px;
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
	margin: 0 0 20px 0;
}


h2,
.h2 {
	padding: 0;
	max-width: 700px;
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
	margin: 0 0 20px 0;
}

h3,
.h3 {
	font-size: 20px;
	font-weight: 700;
	line-height: 22px;
	padding-top: 10px;
	margin-bottom: 20px;
}

.section-head {

	h3,
	.h3 {
		padding-top: 0;
		font-size: 24px;
		line-height: 30px;
		margin-top: 30px;
		margin-bottom: 20px;

		span {
			margin-left: 30px;
			font-size: 15px;
			font-weight: 400;
		}
	}
}

h4,
.h4 {
	font-size: 18px;
	font-weight: 700;
	line-height: 22px;
	padding-top: 10px;
	margin-bottom: 20px;
}

h5,
.h5 {
	font-weight: 700;
	font-size: 15px;
	line-height: 24px;
	margin-bottom: 5px;
}


.main {

	.container {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.pag {
	margin:35px 0;
}
.pagination-lg .page-link {
	padding: .75rem 1.25rem;
	font-size: 1.25rem;
	line-height: 1;
}
.pagination-lg .page-item:first-child .page-link {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.page-item:first-child .page-link {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.pagination-lg .page-item:last-child .page-link {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.page-item.active .page-link {
	z-index: 1;
	color: #fff;
	background-color: #da251d;
	border-color: #da251d;
}
.page-link{
	color: #000;
	font-size: 15px;
}
.page-link:active{
	color: #000;
}
.page-link:focus{
	color: #000;
}
.page-link:hover{
	color: #000;
}


.info_block {
	margin-bottom: 50px;

	p {
		font-size: 15px;
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 10px;
		}
	}

	&__logo {
		border: 1px solid #dbdbdb;
		@include flexbox();
		@include align-items(center);
		@include justify-content(center);

		&_image {
			@include flexbox();
		}
	}

	@media screen and (max-width: 767px) {

		&__logo {
			padding: 40px 0;
			align-items: center;
			justify-content: center;
			display: flex;
			margin:0 15px 20px 15px;

			img {
				max-width: 80%;
			}
		}
	}
}


.btn_up {
	right: 40px;
	bottom: 50px;
	color: #fff;
	width: 44px;
	height: 44px;
	padding: 2px 0 5px 0;
	position: fixed;
	font-size: 34px;
	line-height: 34px;
	text-align: center;
	background: #e21d23;
	text-decoration: none;
	opacity: 0;
	visibility: hidden;
	@include border-radius(50%);
	@include transition(.3s);

	&:hover {
		color: #fff;
		text-decoration: none;
	}

	@media (min-width: $screen-md-min) {

		&__visible {
			opacity: 1;
			visibility: visible;
			@include transition(.3s);
		}
	}
}


.table {
	font-size: 14px;
	line-height: 20px;

	th,
	td {
		padding: 7px 20px;
		border-top: none;
	}
}

.content {
	font-size: 15px;
	line-height: 24px;

	p {
		margin: 0 0 20px 0;
	}
}

.list_point {
	padding: 0;
	list-style: none;
	margin: 0 0 20px 0;

	li {
		padding-left: 16px;
		position: relative;

		&:before {
			left: 0;
			top: 10px;
			width: 5px;
			height: 5px;
			content: '';
			position: absolute;
			display: inline-block;
			background: $color-red;
			@include border-radius(50%);
		}
	}
}

.file_list {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		margin-bottom: 20px;
	}
}

.file_link {
	font-size: 15px;
	line-height: 24px;
	color: $color-red;
	display: inline-block;
	text-decoration: none;
	padding: 2px 0 2px 30px;
	background: url("../img/icon__file.svg") 0 0 no-repeat;

	span {
		text-decoration: underline;
	}

	&:hover {
		color: $color-red;
		text-decoration: none;

		span {
			text-decoration: none;
		}
	}
}

.gallery {
	width: 100%;
	margin: 0 auto;
	max-width: 300px;
	@include flexbox();
	@include flex-wrap(wrap);
	@include justify-content(space-between);

	&__item {
		width: 100%;
		color: #000;
		display: block;
		font-size: 13px;
		line-height: 16px;
		margin-bottom: 20px;

		span {
			display: block;
			font-weight: 700;
		}
	}

	&__image {
		display: block;
		margin-bottom: 10px;
	}

	&__read {
		font-size: 13px;
		font-weight: 400;
		line-height: 16px;
		color: $color-red;
		margin-top: 10px;
		display: inline-block;
		text-decoration: underline;

		&:hover {
			color: $color-red;
			text-decoration: none;
		}
	}

	@media (min-width: $screen-sm-min) {
		max-width: inherit;

		&__item {
			width: calc(50% - 10px);
		}
	}

	@media (min-width: $screen-md-min) {

		&__item {
			width: calc(33.33% - 10px);
		}
	}
}

.img_left {
	margin-bottom: 30px;

	@media (min-width: $screen-md-min) {
		width: 260px;
		float: left;
		margin-right: 20px;
		margin-bottom: 10px;
	}

	@media (min-width: $screen-lg-min) {
		width: 300px;
		margin-bottom: 10px;
	}
}


.modal {
	padding: 50px 20px 50px 20px;
	max-width: 400px;
	background: #fff;

	&__title {
		font-size: 24px;
		font-weight: 700;
		line-height: 30px;
		margin-bottom: 15px;
	}

	@media (min-width: $screen-md-min) {
		padding: 50px 60px 60px 60px;
		max-width: inherit;
		width: 520px;
	}
}

.reward {
	max-width: 320px;
	margin: 0 auto 20px auto;

	&__row {
	}

	&__image {
		display: block;
	}

	&__text {
		color: #000;
		font-size: 16px;
		font-weight: 700;
		line-height: 24px;
		padding: 25px 30px;
		border: 1px solid #f2f2f2;
	}

	@media (min-width: $screen-md-min) {
		margin: 0 0 20px 0;
		max-width: inherit;
		width: calc(50% - 10px);

		&__row {
			@include flexbox();
			@include flex-wrap(wrap);
			@include justify-content(space-between);
		}
	}

	@media (min-width: $screen-lg-min) {
		width: calc(33.33% - 10px);
	}
}