.compare {
	width: 100%;
	max-width: 100%;
	position: relative;

	&__scroll {
		width: 100%;
		max-width: 100%;
		overflow-x: auto;
	}

	&__wrap {
		display: block;
	//	width: 2000px;
		position: relative;
	}

	&__clear {
		color: #6a6a6a;
		font-size: 14px;
		line-height: 20px;
		padding-left: 40px;
		position: relative;
		display: inline-block;
		text-decoration: none;

		&:after,
		&:before {
			left: 0;
			top: 50%;
			z-index: 10;
			width: 13px;
			height: 1px;
			content: '';
			position: absolute;
			display: inline-block;
			background: #6a6a6a;
		}

		&:after {
			@include rotate(45deg);
		}

		&:before {
			@include rotate(-45deg);
		}

		&:hover {
			color: #6a6a6a;
			text-decoration: underline;
		}

		&_wrap {
			position: relative;
			margin-bottom: 20px;
		}
	}

	&__data {
		margin: 0;
		padding: 0;
		color: #000;
		font-size: 13px;
		line-height: 16px;
		list-style: none;

		li {
			background: #fff;
			padding: 9px 5px;

			&:nth-child(even) {
				background: #f0f0f0;
			}
		}
	}

	&__row {
		@include flexbox();

		&:nth-child(even) {
			background: #f0f0f0;

			.compare__elem_data {
				background: #f0f0f0;
			}
		}
	}

	&__elem {
		color: #000;
		font-size: 13px;
		padding: 8px 5px;
		line-height: 17px;
		@include flex-grow(1);
		@include flexbox();
		@include flex-direction(column);

		span {
			margin: auto 0;
			display: inline-block;
		}

		&_legend {
			width: 54%;
			min-width: 54%;
		//	@include flex-grow(1);

			span {
				display: block;
			}
		}

		&_data {
			width: 46%;
			max-width: 46%;
			overflow: hidden;
			white-space: nowrap;
			@include flex-shrink(0);
		}

		&_heading {
			padding: 0;
		}
	}

	&__nav {
		height: 50px;
	}

	&__legend {
		left: 0;
		top: 0;
		width: 54%;
		z-index: 100;
		display: block;
		background: #fff;
		position: absolute;
		padding-top: 445px;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		li {
			color: #000;
			display: block;
			font-size: 13px;
			padding: 8px 5px;
			line-height: 17px;

			&:nth-child(even) {
				background: #f0f0f0;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		&__elem {
			padding: 8px 15px;

			&_data {
				width: 46%;
				max-width: 46%;
			}

			&_heading {
				padding: 0;
			}
		}

		&__legend {
			padding-top: 455px;

			li {
				padding: 8px 15px;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		&__clear {
			right: 0;
			top: -45px;
			position: absolute;

			&_wrap {
				margin-bottom: 0;
			}
		}

		&__nav {
			height: 100px;
		}

		&__elem {

			&_data {
				width: 205px;
				max-width: 205px;
			}

			&_legend {
				width: auto;
				min-width: 280px;

				span {
					max-width: 250px;
				}
			}
		}

		&__legend {
			width: 280px;
			padding-top: 505px;
		}

		.mCSB_scrollTools {

			&.mCSB_scrollTools_horizontal {
				left: auto;
				bottom: auto;
				top: 450px;
				width: 410px;


				.mCSB_buttonLeft,
				.mCSB_buttonRight {
					top: -10px;
					width: 38px;
					height: 34px;
					display: block;
					opacity: 1;
					overflow: hidden;
					position: absolute;
					margin: 0 auto;
					cursor: pointer;
					background: #fff;
					border: 1px solid #dadada;

					&:before {
						top: 50%;
						left: 50%;
						width: 24px;
						color: #777777;
						font-size: 16px;
						font-weight: 900;
						line-height: 16px;
						text-align: center;
						position: absolute;
						margin: -8px 0 0 -12px;
						-webkit-font-smoothing: antialiased;
						display: inline-block;
						font-style: normal;
						font-variant: normal;
						text-rendering: auto;
						font-family: "Font Awesome 5 Free";
					}

					&:hover {
						background: #f0f0f0;

						&:before {
							color: $color-red;
						}
					}
				}

				.mCSB_buttonRight {
					@include border-radius(0 5px 5px 0);

					&:before {
						content: "\f054";
					}
				}

				.mCSB_buttonLeft {
					left: auto;
					right: 37px;
					@include border-radius(5px 0 0 5px);

					&:before {
						content: "\f053";
					}
				}

				a+.mCSB_draggerContainer {
					margin: 0 90px 0 0;
				}
			}

			.mCSB_dragger {

				.mCSB_dragger_bar {
					background: $color-red !important;

					&:hover {
						background: $color-red !important;
					}
				}

				&:hover {

					.mCSB_dragger_bar {
						background: $color-red !important;
					}
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		&__elem {

			&_legend {
				min-width: 267px;

				span {
					max-width: 237px;
				}
			}
		}

		&__legend {
			width: 267px;
		}
	}

	@media (min-width: $screen-xl-min) {

		&__elem {

			&_legend {
				min-width: 242px;

				span {
					max-width: 212px;
				}
			}
		}

		&__legend {
			width: 242px;

		}

		.mCSB_scrollTools {

			&.mCSB_scrollTools_horizontal {
				width: 615px;
			}
		}
	}
}

.compare_product {
	height: 395px;
	overflow: hidden;
	position: relative;
	padding: 20px 10px 15px 10px;
	border: 1px solid #f1f1f1;

	&__remove {
		top: 5px;
		right: 5px;
		z-index: 20;
		width: 20px;
		height: 20px;
		cursor: pointer;
		position: absolute;
		display: inline-block;

		&:after,
		&:before {
			left: 50%;
			top: 50%;
			z-index: 10;
			width: 13px;
			height: 1px;
			content: '';
			margin-left: -6px;
			position: absolute;
			display: inline-block;
			background: $color-red;
		}

		&:after {
			@include rotate(45deg);
		}

		&:before {
			@include rotate(-45deg);
		}

		&:hover {

			&:after,
			&:before {
				background: #000;
			}
		}
	}

	&__image {
		display: block;
		max-width: 160px;
		margin: 0 auto 15px auto;
	}

	&__name {
		color: #000;
		height: 60px;
		display: block;
		font-size: 16px;
		font-weight: 700;
		line-height: 20px;
		overflow: hidden;
		text-decoration: none;
		margin-bottom: 8px;

		&:hover {
			color: #000;
			text-decoration: none;
		}
	}

	&__type {
		color: #5b5b5b;
		font-size: 13px;
		line-height: 20px;
		height: 20px;
		overflow: hidden;
	}

	@media (min-width: $screen-sm-min) {
		height: 405px;
		padding: 15px 20px 15px 20px;

		&__image {
			margin-bottom: 10px;
		}

		&__name {
			height: 40px;
			font-size: 18px;
		}
	}
}