.faq {
	margin-bottom: 20px;
	border: 1px solid #d9d9d9;

	&__question {
		color: #000;
		cursor: pointer;
		font-size: 14px;
		font-weight: 700;
		line-height: 22px;
		position: relative;
		background: #f0f0f0;
		padding: 15px 60px 15px 20px;

		span {}

		i {
			top: 0;
			right: 0;
			width: 50px;
			height: 100%;
			position: absolute;
			display: inline-block;
			border-left: 1px solid #d9d9d9;
		}


		svg {
			top: 50%;
			left: 50%;
			width: 10px;
			height: 5px;
			position: absolute;
			margin: -3px 0 0 -5px;
			display: inline-block;
			fill: $color-red;
		}
	}

	&__answer {
		color: #000;
		display: none;
		font-size: 14px;
		line-height: 24px;
		padding: 15px 60px 15px 20px;
		border-top: 1px solid #d9d9d9;
	}

	&.open {

		.faq__question {

			svg {
				@include rotate(180deg);
			}
		}

		.faq__answer {
			display: block;
		}
	}
}

.new_question {
	padding-top: 30px;
}
