.contact_nav {

	&__title {
		font-size: 14px;
		font-weight: 700;
		line-height: 20px;
		text-transform: uppercase;
		border: 1px solid #d9d9d9;
		border-top: none;
		padding: 14px 6px 14px 22px;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			position: relative;
			border: 1px solid #d9d9d9;
			border-top: none;

			a {
				color: #000;
				width: 100%;
				font-size: 15px;
				line-height: 20px;
				text-transform: none;
				text-decoration: none;
				display: inline-block;
				padding: 14px 6px 14px 19px;
				border-left: 3px solid transparent;

				&:hover {
					color: $color-red;
					background: #f0f0f0;
					text-decoration: none;
					border-left-color: $color-red;
				}
			}

			&.active {

				a {
					color: $color-red;
					background: #f0f0f0;
					border-left-color: $color-red;
				}
			}
		}
	}
}

.contact_map {
	margin-bottom: 20px;
}

.contact_type {
	margin: 0;
	padding: 0;
	list-style: none;
	border-right: 1px solid #d8d8d8;
	@include flexbox();

	li {
		width: 33.33%;
		border: 1px solid #d8d8d8;
		border-right: none;

		a {
			width: 100%;
			font-size: 0;
			line-height: 0;
			height: 68px;
			font-weight: 700;
			text-align: center;
			color: #000;
			text-transform: uppercase;
			@include flexbox();
			@include align-items(center);
			@include justify-content(center);

			i {
				display: none;
			}

			span {
				font-size: 12px;
				line-height: 18px;
				display: inline-block;
			}

			&:hover {
				color: $color-red;
				background: #f0f0f0;
				text-decoration: none;
			}
		}


		&.active {

			a {
				color: $color-red;
				background: #f0f0f0;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		li {

			a {
				padding: 10px 10px;

				i {
					width: 36px;
					height: 36px;
					margin-right: 10px;
					display: inline-block;
				}
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		li {

			a {
				padding: 10px 10px;

				i {
					margin-right: 20px;
				}

				span {
					font-size: 14px;
				}
			}
		}
	}
}

.contact {
	font-size: 15px;
	line-height: 25px;
	padding: 10px 20px 13px 20px;
	margin-bottom: 20px;
	background: #ffffff;
	border: 1px solid #d8d8d8;
	@include flexbox();
	@include flex-wrap(wrap);

	&.active {
		background: #f0f0f0;
	}

	&__info {
		width: 100%;
		margin-bottom: 20px;

		&_name {
			font-size: 16px;
			font-weight: 700;
			line-height: 20px;
			color: $color-red;
			margin-bottom: 4px;
			text-decoration: none;
			display: inline-block;
			font-family: $font-family-second;

			&:hover {
				color: #000;
				text-decoration: none;
			}
		}

		&_address {
			font-weight: 700;
			font-family: $font-family-second;
		}

		&_metro {
			color: #656565;
			font-size: 13px;
			line-height: 20px;
			padding-left: 24px;
			background: url("../img/icon__metro.png") 0 3px no-repeat;
		}
	}

	&__phones {
		width: 50%;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {

			}
		}

		a {
			color: #000;
			text-decoration: none;

			&:hover {
				color: #000;
				text-decoration: none;
			}
		}
	}

	&__email {
		width: 50%;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {

			}
		}

		a {
			color: $color-red;
			text-decoration: none;

			&:hover {
				color: #000;
				text-decoration: none;
			}
		}
	}

	@media (min-width: $screen-md-min) {
		@include flex-wrap(nowrap);

		&__info {
			margin-bottom: 0;
			padding-right: 20px;
			@include flex-grow(1);
		}

		&__phones {
			width: 200px;
			@include flex-shrink(0);
		}

		&__email {
			width: 150px;
			@include flex-shrink(0);
		}
	}
}

.contact_map {
	height: 400px;

	@media (min-width: $screen-md-min) {
		height: 450px;
	}
}

.map_points {
	width: 250px;
	color: #636363;
	font-size: 13px;
	line-height: 16px;
	padding-bottom: 5px;
	@include flexbox();
	@include flex-wrap(wrap);

	&__name {
		width: 100%;
		font-size: 16px;
		font-weight: 700;
		line-height: 20px;
		color: $color-red;
		margin-bottom: 4px;
		text-decoration: none;
		display: inline-block;
		font-family: $font-family-second;

		&:hover {
			color: #000;
			text-decoration: none;
		}
	}

	&__address {
		width: 100%;
	}

	&__metro {
		width: 100%;
		color: #656565;
		font-size: 13px;
		line-height: 20px;
		padding-left: 24px;
		background: url("../img/icon__metro.png") 0 3px no-repeat;
	}

	&__phones {
		margin: 0;
		padding: 10px 0 0 0;
		list-style: none;
		width: 50%;

		a {
			color: #636363;
			text-decoration: none;

			&:hover {
				color: #636363;
				text-decoration: none;
			}
		}
	}

	&__email {
		margin: 0;
		padding: 10px 0 0 0;
		list-style: none;
		width: 50%;

		a {
			color: $color-red;
			text-decoration: none;

			&:hover {
				color: $color-red;
				text-decoration: none;
			}
		}
	}
}

.contact_row {
	@include flexbox();
	@include flex-wrap(wrap);
	@include justify-content(space-between);
}

.contact_elem {
	width: 100%;
	font-size: 15px;
	line-height: 25px;
	padding: 15px 20px;
	margin-bottom: 30px;
	border: 1px solid #d8d8d8;

	&__title {
		font-size: 16px;
		font-weight: 700;
		line-height: 20px;
		margin-bottom: 5px;
		font-family: $font-family-second;
	}

	&__phone {
		color: #000;
		text-decoration: none;

		&:hover {
			color: #000;
			text-decoration: none;
		}
	}

	&__email {
		color: $color-red;
		text-decoration: none;

		&:hover {
			color: #000;
			text-decoration: none;
		}
	}

	@media (min-width: $screen-md-min) {
		width: calc(50% - 10px);
	}

	@media (min-width: $screen-lg-min) {
		width: calc(25% - 8px);
	}
}

