.news_block {
	padding: 20px;
	margin-bottom: 20px;
	border: 1px solid #f3f3f3;

	&__image {
		margin-bottom: 20px;

		a {
			display: block;
		}
	}

	&__content {

	}

	&__date {
		color: #878787;
		font-size: 10px;
		line-height: 14px;
		margin-bottom: 15px;
	}

	&__text {
		color: #000;
		font-size: 15px;
		line-height: 25px;
		margin-bottom: 20px;
	}

	&__btn {

	}

	h4 {
		color: #000;
		padding: 0;
		font-size: 16px;
		font-weight: 700;
		line-height: 20px;
		margin: 0 0 5px 0;

		a {
			color: #000;
			text-decoration: none;

			&:hover {
				color: $color-red;
				text-decoration: none;
			}
		}
	}

	@media (min-width: $screen-md-min) {
		padding: 30px 15px 30px 30px;
		@include flexbox();

		&__image {
			width: 280px;
			margin-bottom: 0;
			@include flex-shrink(0);
		}

		&__content {
			padding-left: 30px;
			@include flex-grow(1);
		}
	}

	@media (min-width: $screen-lg-min) {

	}

	@media (min-width: $screen-xl-min) {

	}
}

.post_date {
	color: #878787;
	font-size: 10px;
	line-height: 12px;
	margin-bottom: 15px;
}