.breadcrumbs {
	padding: 0;
	font-size: 0;
	line-height: 0;
	list-style: none;
	margin: 0 0 20px 0;
	@include flexbox();
	@include flex-wrap(wrap);

	li {
		color: #000;
		font-size: 12px;
		line-height: 20px;
		display: inline-block;

		&:after {
			content: '—';
			color: #d8d8d8;
			padding: 0 10px;
		}

		&:last-child {

			&:after {
				display: none;
			}
		}

		a {
			color: #da251d;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}
}
