.btn_main {
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	padding: 10px 40px;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	background: $color-red;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;

	&:hover {
		color: #fff;
		background: #ff0b00;
	}

	&:active {
		background: $color-red;
	}

	&:focus,
	&.focus {
		outline: 0;
	}
}

.btn_border {
	color: $color-red;
	outline: none;
	cursor: pointer;
	font-size: 12px;
	font-weight: 700;
	line-height: 20px;
	padding: 16px 20px;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	background: #ffffff;
	text-transform: uppercase;
	border: 1px solid #d9d9d9;
	font-family: $font-family-second;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	@include box-shadow(0px 2px 4px 0px rgba(211, 211, 211, 1));

	&:hover {
		color: #000;
		background: #ffffff;
		text-decoration: none;
	}

	&:active {
		@include box-shadow(0px 2px 4px 0px rgba(211, 211, 211, 0.3));
	}

	&:focus,
	&.focus {
		outline: 0;
	}
}


.btn_prev {
	border: none;
	outline: none;
	color: #6a6a6a;
	cursor: pointer;
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	padding: 17px 10px;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	background: #ffffff;
	font-family: $font-family-second;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;

	i {
		width: 7px;
		height: 15px;
		margin-right: 5px;
		font-style: normal;
		display: inline-block;
		background: url("../img/icon__angle_left.svg") 50% 100% no-repeat;
	}

	span {
		text-decoration: underline;
	}

	&:hover {
		color: #6a6a6a;
		text-decoration: none;

		span {
			text-decoration: none;
		}
	}

	&:active {
	}

	&:focus,
	&.focus {
		outline: 0;
	}
}

.btn_group {
	padding: 0;
	margin: 0 -10px;
	list-style: none;
	@include flexbox();
	@include flex-wrap(wrap);

	> li {
		margin: 0 10px;
	}
}