.form_control {
	margin: 0;
	width: 100%;
	outline: none;
	height: 44px;
	color: #000;
	background: #fff;
	font-size: 13px;
	font-weight: 400;
	line-height: 20px;
	padding: 11px 20px;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #d9d9d9;
	@include placeholder(#000);
	@include border-radius(3px);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus,
	&:active {
		outline: none;
		border-color: $color-red;
		@include placeholder(transparent);
	}
}

.form_select {
	margin: 0;
	width: 100%;
	outline: none;
	height: 35px;
	color: #000000;
	font-weight: 400;
	font-size: 15px;
	line-height: 19px;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #e3e3e3;
	padding: 7px 25px 7px 10px;
	background: #fff url("../img/icon__select_down.png") 100% 50% no-repeat;
	@include placeholder(#000);

	-webkit-appearance: none;
	/* for FF */
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	/* for IE */
	-ms-appearance: none;
	appearance: none!important;

	&::-ms-expand {
		display: none;
	}

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus,
	&:active {
		outline: none;
		@include placeholder(transparent);
	}
}

textarea.form_control {
	height: auto;
	resize: vertical;
}



.form_label {
	color: #adadad;
	display: block;
	font-size: 12px;
	line-height: 20px;
	margin-bottom: 2px;

	sup {
		color: $color-red;
		vertical-align: middle;
	}
}

.form_group {
	margin-bottom: 15px;
}

.file_form {
	font-size: 0;
	line-height: 0;
	@include flexbox();

	&__label {
		cursor: pointer;
		color: $color-red;
		font-weight: 400;
		margin-right: 30px;
		position: relative;
		display: inline-block;
		padding: 2px 0 2px 20px;

		input {
			display: none;
		}

		i {
			left: 0;
			top: 2px;
			width: 15px;
			height: 18px;
			position: absolute;
			display: inline-block;
		}

		.ico-svg {
			fill: $color-red;
		}

		span {
			font-size: 13px;
			line-height: 18px;
			text-decoration: underline;
		}

		&:hover {
			color: $color-red;

			span {
				text-decoration: none;
			}
		}
	}

	&__elem {
		display: none;
		color: #adadad;
		font-size: 13px;
		line-height: 18px;
		position: relative;
		padding: 2px 30px 2px 0;

		span {

		}

		i {
			top: 0;
			right: 0;
			width: 22px;
			height: 22px;
			cursor: pointer;
			position: absolute;
			display: inline-block;

			&:after,
			&:before {
				top: 50%;
				left: 50%;
				z-index: 10;
				width: 13px;
				height: 1px;
				content: '';
				margin-left: -6px;
				position: absolute;
				display: inline-block;
				background: $color-red;
			}

			&:after {
				@include rotate(45deg);
			}

			&:before {
				@include rotate(-45deg);
			}
		}
	}

	&.selected {

		.file_form__elem {
			display: inline-block;
		}
	}
}
