.main_pagination {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
	line-height: 0;
	@include flexbox();

	&__center {
		@include justify-content(center);
	}

	li {
		width: 44px;
		height: 44px;
		margin-left: -1px;
		display: inline-block;

		a {
			color: #000;
			width: 44px;
			height: 44px;
			outline: none;
			font-size: 16px;
			line-height: 16px;
			padding: 13px 5px;
			text-align: center;
			display: inline-block;
			background: #fff;
			border: 1px solid #d8d8d8;
			text-decoration: none;

			&:hover {
				color: #000;
				text-decoration: none;
				background-color: #ddd;
			}
		}

		span {
			color: #fff;
			width: 44px;
			height: 44px;
			outline: none;
			font-size: 16px;
			line-height: 16px;
			padding: 13px 5px;
			text-align: center;
			display: inline-block;
			background: $color-red;
			border: 1px solid $color-red;
			text-decoration: none;
		}

		&:last-child {
		}

		&.active {

		}

		&:hover {

		}
	}
}